<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:amq="http://activemq.apache.org/schema/core"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/jms
	    http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
        http://activemq.apache.org/schema/core
   	    http://activemq.apache.org/schema/core/activemq-core-5.3.2.xsd ">


    <bean id="simpleUrlHandlerMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="order" value="1"/>

        <property name="mappings">
            <value>
            </value>
        </property>
        <property name="interceptors">
            <list>
                <ref bean="localeChangeInterceptor" />
                <ref bean="sectionInterceptor"/>
                <ref bean="openSessionInViewInterceptor"/>
            </list>
        </property>
    </bean>
    
    <bean id="openSessionInViewInterceptor"
          class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor" autowire="byName">
        <property name="singleSession" value="true"/>
        <property name="flushModeName" value="FLUSH_AUTO"/>
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <bean class="org.springframework.web.servlet.view.tiles2.TilesConfigurer">
        <property name="definitions">
            <list>
                <value>/WEB-INF/tiles-definitions.xml</value>
                <value>/WEB-INF/views/study/tiles-definitions.xml</value>
            </list>
        </property>
    </bean>

	<bean id="xmlFileViewResolver2" class="org.springframework.web.servlet.view.XmlViewResolver">
	    <property name="location">
	        <value>/WEB-INF/views.xml</value>
	    </property>
	    <property name="order">
	        <value>0</value>
	    </property>
	</bean>

    <bean id="urlResolver" class="gov.nih.nci.cabig.ctms.tools.spring.BeanNameControllerUrlResolver"
          p:servletName="pages"/>

    <bean id="irViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver"
          p:viewClass="org.springframework.web.servlet.view.InternalResourceView"
          p:prefix="/WEB-INF/views/" p:suffix=".jsp">
    	<property name="order">
	        <value>1</value>
	    </property>
    </bean>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10000000" />
    </bean>

    <bean id="urlMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping" lazy-init="true">
        <property name="interceptors">
            <list>
                <ref bean="localeChangeInterceptor" />
                <ref bean="sectionInterceptor"/>
            </list>
        </property>
    </bean>

    <bean id="sectionInterceptor" class="gov.nih.nci.cabig.ctms.web.chrome.SectionInterceptor">
        <property name="sections">
            <list>
                <bean class="gov.nih.nci.cabig.ctms.web.chrome.Section" p:urlResolver-ref="urlResolver"
                      p:displayName="Form"
                      p:mainController="manageFormController" p:pathMapping="/form/**">
                    <property name="tasks">
                        <list>
                        </list>
                    </property>
                </bean>
                <bean class="gov.nih.nci.cabig.ctms.web.chrome.Section" p:urlResolver-ref="urlResolver"
                      p:displayName="Studies"
                      p:mainController="searchStudyController" p:pathMapping="/study/**">
                    <property name="tasks">
                        <list>


                        </list>
                    </property>
                </bean>
                <bean class="gov.nih.nci.cabig.ctms.web.chrome.Section" p:urlResolver-ref="urlResolver"
                      p:displayName="Participants"
                      p:mainController="searchParticipantController" p:pathMapping="/participant/**">
                    <property name="tasks">
                        <list>

                        </list>
                    </property>
                </bean>
                <bean class="gov.nih.nci.cabig.ctms.web.chrome.Section" p:urlResolver-ref="urlResolver"
                      p:displayName="Administration"
                      p:mainController="searchClinicalStaffController" p:pathMapping="/admin/**">
                    <property name="tasks">
                        <list>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task" p:urlResolver-ref="urlResolver"
                                  p:displayName="clinicalStaff.tab.clinical_staff"
                                  p:linkName="searchClinicalStaffController"/>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task" p:urlResolver-ref="urlResolver"
                                  p:displayName="administration.tab.passwordPolicy"
                                  p:linkName="passwordPolicyConfigurationController"/>
                        </list>
                    </property>
                </bean>
                <bean class="gov.nih.nci.cabig.ctms.web.chrome.Section" p:urlResolver-ref="urlResolver"
                      p:displayName="Reports"
                      p:mainController="participantCareMonitorController" p:pathMapping="/reports/**">
                    <property name="tasks">
                        <list>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task" p:urlResolver-ref="urlResolver"
                                  p:displayName="reports.tab.participant_care"
                                  p:linkName="participantCareMonitorController"/>
                            <bean class="gov.nih.nci.cabig.ctms.web.chrome.Task" p:urlResolver-ref="urlResolver"
                                  p:displayName="reports.tab.study_level_report"
                                  p:linkName="reportSearchCriteriaController"/>
                        </list>
                    </property>
                </bean>


            </list>
        </property>
    </bean>

    <bean id="wavFileController" name="/participant/playFile.wav" class="gov.nih.nci.ctcae.web.form.AudioFileController">
        <property name="contentType" value="audio/x-wav"/>
        <property name="studyParticipantCrfScheduleRepository" ref="studyParticipantCrfScheduleRepository"/>
    </bean>


    <bean name="/form/manageForm" id="manageFormController" class="gov.nih.nci.ctcae.web.form.ManageFormController">
        <property name="studyRepository" ref="studyRepository"/>
        <property name="crfAjaxFacade" ref="crfAjaxFacade"/>
        <property name="studyAjaxFacade" ref="studyAjaxFacade"/>
    </bean>

    <bean name="/form/hiddenForms" id="hiddenFormController" class="gov.nih.nci.ctcae.web.form.HiddenFormController">
        <property name="studyRepository" ref="studyRepository"/>
        <property name="crfAjaxFacade" ref="crfAjaxFacade"/>
        <property name="studyAjaxFacade" ref="studyAjaxFacade"/>
    </bean>


    <bean name="/form/basicForm" id="basicFormController" class="gov.nih.nci.ctcae.web.form.BasicFormController"
          parent="formController">
        <property name="genericRepository" ref="genericRepository"/>
        <property name="userRepository" ref="userRepository"/>
    </bean>

    <bean name="/form/editForm" id="editFormController" class="gov.nih.nci.ctcae.web.form.EditFormController"
          parent="formController">
        <property name="genericRepository" ref="genericRepository"/>
        <property name="userRepository" ref="userRepository"/>
    </bean>

    <bean id="formController" class="gov.nih.nci.ctcae.web.form.FormController" abstract="true"
          parent="securedTabbedFlowFormController">
        <property name="crfRepository" ref="crfRepository"/>
        <property name="formArmScheduleRepository" ref="formArmScheduleRepository"/>
        <property name="proCtcTermRepository" ref="proCtcTermRepository"/>
        <property name="uniqueTitleForCrfValidator" ref="uniqueTitleForCrfValidator"/>
        <property name="notEmptyValidator" ref="notEmptyValidator"/>
    </bean>


    <bean name="/form/releaseForm" id="releaseFormController"
          class="gov.nih.nci.ctcae.web.form.ReleaseFormController" parent="ctcaeSimpleFormController"
          p:crfRepository-ref="crfRepository">
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>
    </bean>

    <bean name="/admin/clinicalStaff/effectiveStaff" id="effectiveStaffController"
          class="gov.nih.nci.ctcae.web.clinicalStaff.EffectiveStaffController" parent="ctcaeSimpleFormController"
          p:clinicalStaffRepository-ref="clinicalStaffRepository">
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>
    </bean>


    <bean name="/form/allConditions" id="allConditionsController"
          class="gov.nih.nci.ctcae.web.form.AllConditionsController">
    </bean>

    <bean name="abstractCrfController" id="crfController" abstract="true"
          class="gov.nih.nci.ctcae.web.form.AbstractCrfController">
        <property name="proCtcQuestionRepository" ref="proCtcQuestionRepository"/>
        <property name="proCtcTermRepository" ref="proCtcTermRepository"/>
    </bean>

    <bean name="/form/addCrfComponent" id="addCrfComponentController" parent="abstractCrfController"
          class="gov.nih.nci.ctcae.web.form.AddCrfComponentController">
    </bean>


    <bean name="/confirmationCheck" id="confirmationController"
          class="gov.nih.nci.ctcae.web.ConfirmationCheckController">
        <property name="proCtcTermRepository" ref="proCtcTermRepository"/>
    </bean>
    <bean name="/form/submit" id="submitFormController"
          class="gov.nih.nci.ctcae.web.form.SubmitFormController">
        <property name="genericRepository" ref="genericRepository"/>
        <property name="studyParticipantCrfScheduleRepository" ref="studyParticipantCrfScheduleRepository"/>
        <property name="proCtcTermRepository" ref="proCtcTermRepository"/>
        <property name="meddraRepository" ref="meddraRepository"/>
    </bean>

    <bean name="/admin/passwordConfiguration" id="passwordPolicyConfigurationController"
          class="gov.nih.nci.ctcae.web.PasswordPolicyConfigurationController">
        <property name="passwordPolicyService" ref="passwordPolicyService"/>
        <property name="genericRepository" ref="genericRepository"/>
    </bean>

    <bean name="/form/addquestion" id="addQuestionByParticipantController"
          class="gov.nih.nci.ctcae.web.form.AddQuestionByParticipantController" parent="ctcaeSimpleFormController">
        <property name="genericRepository" ref="genericRepository"/>
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>
    </bean>
    <bean name="/form/addMorequestion" id="addMoreQuestionByParticipantController"
          class="gov.nih.nci.ctcae.web.form.AddMoreQuestionByParticipantController" parent="ctcaeSimpleFormController">
        <property name="genericRepository" ref="genericRepository"/>
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>
    </bean>

    <bean name="/form/copyForm" id="copyFormController"
          class="gov.nih.nci.ctcae.web.form.CopyFormController">
        <property name="crfRepository" ref="crfRepository"/>
    </bean>

    <bean name="/form/viewForm" id="viewFormController"
          class="gov.nih.nci.ctcae.web.form.ViewFormController">
        <property name="crfRepository" ref="crfRepository"/>
    </bean>
    <bean name="/form/printForm" id="printFormController"
          class="gov.nih.nci.ctcae.web.form.PrintFormController">
        <property name="crfRepository" ref="crfRepository"/>
    </bean>

    <bean name="/form/deleteForm" id="deleteFormController"
          class="gov.nih.nci.ctcae.web.form.DeleteFormController" parent="ctcaeSimpleFormController">
        <property name="crfRepository" ref="crfRepository"/>
        <property name="studyRepository" ref="studyRepository"/>
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>

    </bean>

    <bean name="/form/hideForm" id="hideFormController"
          class="gov.nih.nci.ctcae.web.form.HideFormController" parent="ctcaeSimpleFormController">
        <property name="crfRepository" ref="crfRepository"/>
        <property name="studyRepository" ref="studyRepository"/>
    </bean>

    <bean name="/form/showForm" id="showFormController"
          class="gov.nih.nci.ctcae.web.form.ShowFormController" parent="ctcaeSimpleFormController">
        <property name="crfRepository" ref="crfRepository"/>
        <property name="studyRepository" ref="studyRepository"/>
    </bean>

    <bean name="/form/versionForm" id="versionFormController"
          class="gov.nih.nci.ctcae.web.form.VersionFormController" parent="ctcaeSimpleFormController">
        <property name="crfRepository" ref="crfRepository"/>
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>

    </bean>
    <bean name="/form/showVersionForm" id="showVersionFormController"
          class="gov.nih.nci.ctcae.web.form.ShowVersionFormController">
        <property name="crfRepository" ref="crfRepository"/>

    </bean>
    <bean name="/form/addFormScheduleCycle" id="addFormScheduleCycleController"
          class="gov.nih.nci.ctcae.web.form.AddFormScheduleCycleController">
    </bean>
      <bean name="/form/reloadFormScheduleCycle" id="reloadFormScheduleCycleController"
          class="gov.nih.nci.ctcae.web.form.ReloadFormScheduleCycleController">
    </bean>	
    
    <bean name="/form/addFormRule" id="addFormRuleController"
          class="gov.nih.nci.ctcae.web.form.AddFormRuleController">
        <property name="crfRepository" ref="crfRepository"/>
        <property name="studyOrganizationRepository" ref="studyOrganizationRepository"/>
    </bean>


    <!--<bean name="studyController" id="studyController"-->
    <bean id="studyController"
          class="gov.nih.nci.ctcae.web.study.StudyController" parent="securedTabbedFlowFormController" abstract="true">
        <property name="studyRepository" ref="studyRepository"/>
        <property name="genericRepository" ref="genericRepository"/>
        <property name="userRepository" ref="userRepository"/>
        <property name="userRoleService" ref="userRoleServiceImpl"/>
    </bean>

    <bean name="/study/createStudy" id="createStudyController"
          class="gov.nih.nci.ctcae.web.study.CreateStudyController" parent="studyController">
    </bean>

    <bean name="/study/editStudy" id="editStudyController"
          class="gov.nih.nci.ctcae.web.study.EditStudyController" parent="studyController">
    </bean>

    <bean name="/study/changeStatus" id="changeStatusController"
          class="gov.nih.nci.ctcae.web.study.ChangeStatusController" parent="ctcaeSimpleFormController">
        <property name="studyOrganizationClinicalStaffRepository" ref="studyOrganizationClinicalStaffRepository"/>
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>
    </bean>

    <bean name="/study/addStudySite" id="addStudySiteController"
          class="gov.nih.nci.ctcae.web.study.AddStudySiteController">
        <property name="studyRepository" ref="studyRepository"/>
    </bean>
    
    <bean name="/study/addStudyOrganizationalClinicalStaff" id="addStudyOrganizationalClinicalStaff"
          class="gov.nih.nci.ctcae.web.study.AddStudyOrganizationalClinicalStaffController">
    </bean>
    
    <bean name="/study/addStudyArm" id="addStudyArmController"
          class="gov.nih.nci.ctcae.web.study.AddStudyArmController">
    </bean>

    <bean name="/admin/clinicalStaff/addClinicalStaffComponent" id="addClinicalStaffComponentController"
          class="gov.nih.nci.ctcae.web.clinicalStaff.AddClinicalStaffComponentController">
    </bean>

    <bean name="/study/searchStudy" id="searchStudyController"
          class="gov.nih.nci.ctcae.web.study.SearchStudyController">
        <property name="studyAjaxFacade" ref="studyAjaxFacade"/>
        <property name="studyRepository" ref="studyRepository"/>
        <property name="organizationRepository" ref="organizationRepository"/>
    </bean>

    <bean name="/study/fetchStudy" id="fetchStudyController"
          class="gov.nih.nci.ctcae.web.study.FetchStudyController">
        <property name="studyAjaxFacade" ref="studyAjaxFacade"/>
        <property name="studyRepository" ref="studyRepository"/>
        <property name="organizationRepository" ref="organizationRepository"/>
    </bean>

    <bean name="/spcSchedule/fetchAvailableForms" id="fetchAvailableFormsController"
          class="gov.nih.nci.ctcae.web.spcSchedule.FetchAvailableFormsController">
        <property name="spcsfacade" ref="studyParticipantCrfScheduleAjaxFacade"/>
    </bean>

    <bean name="/spcSchedule/fetchOverdueForms" id="fetchOverdueFormsController"
          class="gov.nih.nci.ctcae.web.spcSchedule.FetchOverdueFormsController">
        <property name="spcsFacade" ref="studyParticipantCrfScheduleAjaxFacade"/>
    </bean>

    <bean name="/spcSchedule/fetchUpcomingForms" id="fetchUpcomingFormsController"
          class="gov.nih.nci.ctcae.web.spcSchedule.FetchUpcomingFormsController">
        <property name="spcsfacade" ref="studyParticipantCrfScheduleAjaxFacade"/>
    </bean>

    <bean name="/spcSchedule/fetchAlerts" id="fetchAlertsController"
          class="gov.nih.nci.ctcae.web.spcSchedule.FetchAlertsController">
        <property name="userAjaxFacade" ref="userAjaxFacade"/>
    </bean>
    
    <bean name="/study/addStudyComponent" id="addStudyComponentController"
          class="gov.nih.nci.ctcae.web.study.AddStudyComponentController">
    </bean>

    <bean name="participantController" class="gov.nih.nci.ctcae.web.participant.ParticipantController"
          parent="securedTabbedFlowFormController">
        <property name="participantRepository" ref="participantRepository"/>
        <property name="organizationRepository" ref="organizationRepository"/>
        <property name="userRepository" ref="userRepository"/>
        <property name="passwordPolicyService" ref="passwordPolicyService"/>
        <property name="properties" ref="proCtcAeProperties"/>
    </bean>

    <bean name="/participant/create" id="createParticipantController"
          class="gov.nih.nci.ctcae.web.participant.CreateParticipantController" parent="participantController"/>
    <bean name="/participant/edit" id="editParticipantController"
          class="gov.nih.nci.ctcae.web.participant.EditParticipantController" parent="participantController">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>

    <bean name="/participant/search" id="searchParticipantController"
          class="gov.nih.nci.ctcae.web.participant.SearchParticipantController">
        <property name="participantAjaxFacade" ref="participantAjaxFacade"/>
        <property name="studyRepository" ref="studyRepository"/>
        <property name="organizationRepository" ref="organizationRepository"/>
        <property name="proCtcAEProperties" ref="proCtcAeProperties"/>
    </bean>

    <bean name="/participant/fetchParticipant" id="fetchParticipantController"
          class="gov.nih.nci.ctcae.web.participant.FetchParticipantController">
        <property name="participantAjaxFacade" ref="participantAjaxFacade"/>
        <property name="studyRepository" ref="studyRepository"/>
        <property name="organizationRepository" ref="organizationRepository"/>
        <property name="proCtcAEProperties" ref="proCtcAeProperties"/>
        <property name="authorizationServiceImpl" ref="authorizationServiceImpl"/>
    </bean>

    <bean name="/participant/userCalendar" id="userCalendarController" class="gov.nih.nci.ctcae.web.user.UserCalendarController">
         <property name="spcsRepository" ref="studyParticipantCrfScheduleRepository"/>
    </bean>

    <bean name="/user/displayUserCalendar" id="dosplayUserCalendarController" class="gov.nih.nci.ctcae.web.user.DisplayUserCalendarController">
         <property name="spcsRepository" ref="studyParticipantCrfScheduleRepository"/>
         <property name="csRepository" ref="clinicalStaffRepository"/>
    </bean>

    <bean name="/user/dayScheduleDetails" id="dayScheduleDetails" class="gov.nih.nci.ctcae.web.user.DayScheduleDetailsController">
    </bean>

     <bean name="/clinicalStaff/fetchClinicalStaff" id="fetchClinicalStaffController"
          class="gov.nih.nci.ctcae.web.clinicalStaff.FetchClinicalStaffController">
        <property name="clinicalStaffAjaxFacade" ref="clinicalStaffAjaxFacade"/>
        <property name="studyRepository" ref="studyRepository"/>
        <property name="proCtcAEProperties" ref="proCtcAeProperties"/>
    </bean>

     <bean name="/form/fetchCrf" id="fetchCrfController"
          class="gov.nih.nci.ctcae.web.form.FetchCrfController">
        <property name="crfAjaxFacade" ref="crfAjaxFacade"/>
        <property name="authorizationServiceImpl" ref="authorizationServiceImpl"/>
    </bean>

    <bean name="/participant/schedulecrf" id="scheduleCrfController"
          class="gov.nih.nci.ctcae.web.participant.ScheduleCrfController" parent="securedTabbedFlowFormController">
        <property name="studyParticipantCrfScheduleRepository" ref="studyParticipantCrfScheduleRepository"/>
    </bean>

    <bean name="/participant/participantInbox" id="participantInboxController"
          class="gov.nih.nci.ctcae.web.participant.ParticipantInboxController" parent="ctcaeSimpleFormController">
        <property name="formView" value="participant/participantInbox"/>
        <property name="userRepository" ref="userRepository"/>
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>
        <property name="properties" ref="proCtcAeProperties"/>
    </bean>

    <!--<bean name="/participant/showParticipantScheduleTable" id="showParticipantScheduleController"-->
    <!--class="gov.nih.nci.ctcae.web.participant.ShowParticipantScheduleController">-->
    <!--<property name="studyRepository" ref="studyRepository"/>-->
    <!--</bean>-->
    <bean name="/participant/printSchedule" id="printParticipantScheduleController"
          class="gov.nih.nci.ctcae.web.participant.PrintParticipantScheduleController">
        <property name="studyParticipantCrfScheduleRepository" ref="studyParticipantCrfScheduleRepository"/>
    </bean>
    <bean name="/participant/enterResponses" id="enterParticipantResponsesController"
          class="gov.nih.nci.ctcae.web.participant.EnterParticipantResponsesController"
          parent="ctcaeSimpleFormController">
        <property name="studyParticipantCrfScheduleRepository" ref="studyParticipantCrfScheduleRepository"/>
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>
    </bean>

    <bean name="/participant/addCrfSchedule" id="addCrfScheduleController"
          class="gov.nih.nci.ctcae.web.participant.AddCrfScheduleController">
        <property name="genericRepository" ref="genericRepository"/>
        <property name="participantScheduleService" ref="participantScheduleService"/>
    </bean>
    <bean name="/participant/deleteFormSchedule" id="deleteFormSchedule"
          class="gov.nih.nci.ctcae.web.participant.DeleteFormScheduleController">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>
    <bean name="/participant/detailsFormSchedule" id="detailsFormSchedule"
          class="gov.nih.nci.ctcae.web.participant.DetailsFormScheduleController">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>
    <bean name="/participant/addFormSchedule" id="addFormSchedule"
          class="gov.nih.nci.ctcae.web.participant.AddFormScheduleController">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>

    <bean name="/participant/addNotificationClinicalStaff" id="addNotificationClinicalStaff"
          class="gov.nih.nci.ctcae.web.participant.AddNotificationClinicalStaffController">
    </bean>

    <bean name="/participant/moveFormSchedule" id="moveFormSchedule"
          class="gov.nih.nci.ctcae.web.participant.MoveFormScheduleController">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>
    <bean name="/participant/moveFormScheduleValidate" id="moveFormScheduleValidate"
          class="gov.nih.nci.ctcae.web.participant.MoveFormScheduleValidateController">
    </bean>
    <bean name="/admin/createClinicalStaff" id="createClinicalStaffController"
          class="gov.nih.nci.ctcae.web.clinicalStaff.CreateClinicalStaffController" parent="ctcaeSimpleFormController">
        <property name="clinicalStaffRepository" ref="clinicalStaffRepository"/>
        <property name="userNameAndPasswordValidator" ref="userNameAndPasswordValidator"/>
        <property name="genericRepository" ref="genericRepository"/>
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>
        <property name="userRepository" ref="userRepository"/>
        <property name="uniqueStaffEmailAddressValidator" ref="uniqueStaffEmailAddressValidator"/>
        <property name="firstAndLastNameValidator" ref="firstAndLastNameValidator"/>
    </bean>
    <bean name="/admin/viewClinicalStaff" id="viewClinicalStaffController"
          class="gov.nih.nci.ctcae.web.clinicalStaff.ViewClinicalStaffController" parent="ctcaeSimpleFormController">
        <property name="clinicalStaffRepository" ref="clinicalStaffRepository"/>
    </bean>
    <bean name="/admin/searchClinicalStaff" id="searchClinicalStaffController"
          class="gov.nih.nci.ctcae.web.clinicalStaff.SearchClinicalStaffController">
    </bean>
    <bean name="/participant/monitorForm" id="monitorFormController"
          class="gov.nih.nci.ctcae.web.participant.MonitorFormController">
    </bean>
    <bean name="/participant/monitorFormStatus" id="monitorFormStatusController"
          class="gov.nih.nci.ctcae.web.participant.MonitorFormStatusController">
        <property name="studyRepository" ref="studyRepository"/>
        <property name="studyOrganizationRepository" ref="studyOrganizationRepository"/>
    </bean>
    <bean name="/participant/showCompletedCrf" id="showCompletedCrfController"
          class="gov.nih.nci.ctcae.web.participant.ShowCompletedCrfController">
        <property name="studyParticipantCrfScheduleRepository" ref="studyParticipantCrfScheduleRepository"/>

    </bean>
    <bean name="/participant/participantOffStudy" id="participantOffStudyController"
          class="gov.nih.nci.ctcae.web.participant.ParticipantOffStudyController" parent="ctcaeSimpleFormController">
        <property name="studyParticipantAssignmentRepository" ref="studyParticipantAssignmentRepository"/>
        <property name="studyParticipantCrfScheduleRepository" ref="studyParticipantCrfScheduleRepository"/>
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>
    </bean>

    <bean name="/participant/participantOnHold" id="participantOnHoldController"
          class="gov.nih.nci.ctcae.web.participant.ParticipantOnHoldController">
        <!--<property name="studyParticipantAssignmentRepository" ref="studyParticipantAssignmentRepository"/>-->
        <!--<property name="studyParticipantCrfScheduleRepository" ref="studyParticipantCrfScheduleRepository"/>-->
        <!--<property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>-->
        <!--<property name="participantRepository" ref="participantRepository"/>-->
    </bean>

    <bean name="/participant/participantOffHold" id="participantOffHoldController"
          class="gov.nih.nci.ctcae.web.participant.ParticipantOffHoldController" parent="ctcaeSimpleFormController">
        <property name="studyParticipantAssignmentRepository" ref="studyParticipantAssignmentRepository"/>
        <property name="studyParticipantCrfScheduleRepository" ref="studyParticipantCrfScheduleRepository"/>
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>
    </bean>

    <bean name="/reports/participantReport" id="participantCareMonitorController"
          class="gov.nih.nci.ctcae.web.reports.ParticipantLevelReportController">
        <property name="studyParticipantCrfScheduleRepository" ref="studyParticipantCrfScheduleRepository"/>
    </bean>

    <bean name="/reports/participantCareResults" id="participantCareResultsController"
          class="gov.nih.nci.ctcae.web.reports.ParticipantLevelReportResultsController">
        <property name="genericRepository" ref="genericRepository"/>
        <property name="proCtcTermRepository" ref="proCtcTermRepository"/>
    </bean>

     <bean name="/reports/participantWorstSymptomCareResults" id="participantLevelWorstSymptomReportResultsController"
          class="gov.nih.nci.ctcae.web.reports.ParticipantLevelWorstSymptomReportResultsController">
        <property name="genericRepository" ref="genericRepository"/>
        <property name="proCtcTermRepository" ref="proCtcTermRepository"/>
    </bean>

    <!--<bean name="/participant/responseReport" id="participantResponseReportController"-->
    <!--class="gov.nih.nci.ctcae.web.participant.ParticipantResponseReportController">-->
    <!--<property name="studyParticipantCrfScheduleRepository" ref="studyParticipantCrfScheduleRepository"/>-->
    <!--<property name="userRepository" ref="userRepository"/>-->
    <!--<property name="participantRepository" ref="participantRepository"/>-->
    <!--</bean>-->
    <bean name="/reports/participantCarePdf" id="participantCarePdfController"
          class="gov.nih.nci.ctcae.web.reports.ParticipantLevelReportPdfController">
    </bean>

    <bean name="/reports/participantCareExcel" id="participantCareExcelController"
          class="gov.nih.nci.ctcae.web.reports.ParticipantReportExcelController">
    </bean>

    <bean name="/reports/overallStudyWideFormat" id="studyLevelFullReportResultsController"
          class="gov.nih.nci.ctcae.web.reports.StudyLevelFullReportResultsController">
        <property name="genericRepository" ref="genericRepository"/>
	    <property name="studyParticipantCrfScheduleRepository" ref="studyParticipantCrfScheduleRepository"/>
    </bean>
    
     <bean name="/reports/studyLevelFullReportCsv" id="studyLevelFullReportCSVController"
          class="gov.nih.nci.ctcae.web.reports.StudyLevelFullReportCSVController">
    </bean>
    
    <bean name="/reports/getParticipantItems" id="getParticipantCrfItemsController"
          class="gov.nih.nci.ctcae.web.reports.GetParticipantCrfItemsController">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>

    <bean name="/participant/displaycalendar" id="displayCalendarController"
          class="gov.nih.nci.ctcae.web.participant.DisplayCalendarController">
        <property name="genericRepository" ref="genericRepository"/>
        <property name="authorizationServiceImpl" ref="authorizationServiceImpl"/>
    </bean>
    <bean name="/form/matchSymptoms" id="MatchSymptomsController"
          class="gov.nih.nci.ctcae.web.participant.MatchSymptomsController">
        <property name="scheduleCrfAjaxFacade" ref="scheduleCrfAjaxFacade"/>
    </bean>

    <bean name="/participant/displaystudysites" id="displayStudySitesController"
          class="gov.nih.nci.ctcae.web.participant.DisplayStudySitesController">
        <property name="studyOrganizationRepository" ref="studyOrganizationRepository"/>
        <property name="participantRepository" ref="participantRepository"/>
        <property name="properties" ref="proCtcAeProperties"/>
        <property name="authorizationServiceImpl" ref="authorizationServiceImpl"/>
    </bean>
    <bean name="/reports/participantCareResultsGraph" id="participantCareResultsGraph"
          class="gov.nih.nci.ctcae.web.reports.ParticipantLevelGraphicalReportController"
          parent="participantCareResultsController">
    </bean>

    <bean name="/reports/symptomSummary" id="symptomSummaryReportResultsController"
          class="gov.nih.nci.ctcae.web.reports.graphical.SymptomSummaryReportResultsController">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>

    <bean name="/reports/symptomOverTime" id="symptomOverTimeReportResultsController"
          class="gov.nih.nci.ctcae.web.reports.graphical.SymptomOverTimeReportResultsController">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>
    <bean name="/reports/enrollmentReport" id="enrollmentReportResultsController"
          class="gov.nih.nci.ctcae.web.reports.EnrollmentReportResultsController">
        <property name="studyRepository" ref="studyRepository"/>
        <property name="studyOrganizationRepository" ref="studyOrganizationRepository"/>
    </bean>

    <bean name="/reports/reportDetails" id="symptomOverTimeReportDetailsController"
          class="gov.nih.nci.ctcae.web.reports.ReportDetailsController">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>

    <bean name="/reports/participantAddedQuestions" id="participantAddedQuestionsResultsController"
          class="gov.nih.nci.ctcae.web.reports.ParticipantAddedQuestionsReportResultsController">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>
    <bean name="/reports/participantAddedQuestionsDetails" id="participantAddedQuestionsDetailsController"
          class="gov.nih.nci.ctcae.web.reports.ParticipantAddedQuestionsReportDetailsController">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>
    <bean name="/participant/confirmSymptom" id="confirmSymptomController"
          class="gov.nih.nci.ctcae.web.participant.ConfirmSymptomController">
    </bean>
    <bean name="/participant/alertForAdd" id="alertForAddController"
          class="gov.nih.nci.ctcae.web.participant.AlertForAddController">
    </bean>

    <bean name="/reports/report" id="reportSearchCriteriaController"
          class="gov.nih.nci.ctcae.web.reports.ReportSearchCriteriaController">
        <property name="studyAjaxFacade" ref="studyAjaxFacade"/>
        <property name="crfAjaxFacade" ref="crfAjaxFacade"/>
        <property name="organizationAjaxFacade" ref="organizationAjaxFacade"/>
        <property name="studyRepository" ref="studyRepository"/>
    </bean>


    <bean name="/home" id="homeController"
          class="gov.nih.nci.ctcae.web.login.LoginController">
        <property name="userRepository" ref="userRepository"/>
    </bean>
    <bean name="/home/notificationdetails" id="notificationdetails"
          class="gov.nih.nci.ctcae.web.clinicalStaff.NotificationDetailsController">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>

    <bean id="ctcaeSimpleFormController" class="gov.nih.nci.ctcae.web.CtcAeSimpleFormController"
          p:proCtcValidValueRepository-ref="proCtcValidValueRepository"
          p:organizationRepository-ref="organizationRepository"
          p:controllerTools-ref="controllerTools"
          p:studyOrganizationRepository-ref="studyOrganizationRepository"
          p:meddraValidValueRepository-ref="meddraValidValueRepository"
            >
        <property name="webControllerValidator" ref="webControllerValidator"/>
    </bean>

    <bean id="tabConfigurer" class="gov.nih.nci.cabig.ctms.web.tabs.DefaultTabConfigurer"/>

    <bean name="securedTabbedFlowFormController" class="gov.nih.nci.ctcae.web.form.CtcAeSecuredTabbedFlowController"
          abstract="true">
        <property name="tabConfigurer" ref="tabConfigurer"/>
        <property name="organizationClinicalStaffRepository" ref="organizationClinicalStaffRepository"/>
        <property name="controllerTools" ref="controllerTools"/>
        <property name="studyParticipantAssignmentRepository" ref="studyParticipantAssignmentRepository"/>
        <property name="participantRepository" ref="participantRepository"/>
        <property name="studyRepository" ref="studyRepository"/>
        <property name="clinicalStaffRepository" ref="clinicalStaffRepository"/>
        <property name="organizationRepository" ref="organizationRepository"/>
        <property name="webControllerValidator" ref="webControllerValidator"/>
        <property name="proCtcQuestionRepository" ref="proCtcQuestionRepository"/>
        <property name="privilegeAuthorizationCheck" ref="privilegeAuthorizationCheck"/>
        <property name="studyOrganizationRepository" ref="studyOrganizationRepository"/>
        <property name="studyOrganizationClinicalStaffRepository" ref="studyOrganizationClinicalStaffRepository"/>
        <property name="formArmScheduleRepository" ref="formArmScheduleRepository"/>
        <property name="meddraValidValueRepository" ref="meddraValidValueRepository"/>
        <property name="proCtcAEProperties" ref="proCtcAeProperties"/>
    </bean>


    <!-- validation beans-->
    <bean id="reportResultsHelper" class="gov.nih.nci.ctcae.web.reports.graphical.ReportResultsHelper">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>
    <bean name="/updateDueDate" id="updateDueDate" class="gov.nih.nci.ctcae.web.FixDueDateController">
        <property name="productionDataCorrector" ref="productionDataCorrectorBean"/>
    </bean>
    <bean name="productionDataCorrectorBean" class="gov.nih.nci.ctcae.web.ProductionDataCorrector">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    <bean name="/reports/overallStudyExcel" id="overallStudyExcel"
          class="gov.nih.nci.ctcae.web.reports.OverallStudyReportExcelController">
        <property name="overallStudyData" ref="overallStudyDataBean"/>
    </bean>
    <bean name="overallStudyDataBean" class="gov.nih.nci.ctcae.web.reports.OverallStudyData">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>

    <bean name="pastDueSchedulesReminderEmailBean" class="gov.nih.nci.ctcae.web.batch.PastDueSchedulesReminderEmail">
        <property name="sessionFactory" ref="sessionFactory"/>
        <property name="messageSource" ref="messageSource"/>
        <property name="properties" ref="proCtcAeProperties"/>
    </bean>

    <bean id="pastDueSchedulesReminderEmailJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="pastDueSchedulesReminderEmailBean"/>
        <property name="targetMethod" value="generateEmailReports"/>
    </bean>
    
    <bean name="spCrfItemCreatorBean" class="gov.nih.nci.ctcae.web.batch.SpCrfItemCreator">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    
    <bean id="spCrfItemCreatorJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="spCrfItemCreatorBean"/>
        <property name="targetMethod" value="createSpCrfItemsForAvailableSchedules"/>
    </bean>

    <bean id="nightlyTrigger" class="gov.nih.nci.ctcae.web.batch.NightlyTriggerBean">
    	<property name="jobDetail" ref="pastDueSchedulesReminderEmailJob" />
    </bean>
    
    <bean id="nightlyTriggerForObjectCreation" class="gov.nih.nci.ctcae.web.batch.NightlyTriggerBean">
 		<property name="jobDetail" ref="spCrfItemCreatorJob" />
    </bean>
    

    <bean id="ivrsTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="callOutJob"/>
        <property name="startDelay" value="0"/>
        <!-- repeat every 2 min -->
        <property name="repeatInterval" value="120000"/>
    </bean>

    <bean id="callOutJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="IvrsCalloutBean"/>
        <property name="targetMethod" value="scheduleJobInQueue"/>
    </bean>

    <bean name="IvrsCalloutBean" class="gov.nih.nci.ctcae.web.ivrs.callout.IvrsCallOutScheduler">
        <property name="jmsTemplate" ref="consumerJmsTemplate"/>
        <property name="properties" ref="proCtcAeProperties"/>
    </bean>
    
     <bean name="updateOnHoldSchedulesBean" class="gov.nih.nci.ctcae.web.batch.UpdateOnHoldStatus">
       <property name="sessionFactory" ref="sessionFactory"/>
       <property name="genericRepository" ref="genericRepository"/>
    </bean>

    <bean id="updateOnHoldSchedulesJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
          <property name="targetObject" ref="updateOnHoldSchedulesBean"/>
       	  <property name="targetMethod" value="updateStatus"/>
    </bean>
    
    <bean id="nightlyTriggerForScheduleStatusUpdate" class="gov.nih.nci.ctcae.web.batch.NightlyTriggerBean">
    	<property name="jobDetail" ref="updateOnHoldSchedulesJob" />
    </bean>

    <bean id="formSubmissionNotificationBeanTarget" class="gov.nih.nci.ctcae.web.batch.FormSubmissionNotifications">
        <property name="genericRepository" ref="genericRepository"/>
    </bean>

    <bean id="formSubmissionNotificationAuditInfoPopulatorInterceptor"
          class="gov.nih.nci.ctcae.core.audit.AuditInfoPopulatorInterceptor">
        <property name="fromJob" value="true"/>
    </bean>

    <bean id="formSubmissionNotificationBean" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyTargetClass">
            <value>true</value>
        </property>
        <property name="target">
            <ref local="formSubmissionNotificationBeanTarget"/>
        </property>
        <property name="interceptorNames">
            <list>
                <value>formSubmissionNotificationAuditInfoPopulatorInterceptor</value>
                <value>hibernateInterceptor</value>
            </list>
        </property>
    </bean>

    <bean id="formSubmissionNotificationJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="formSubmissionNotificationBean"/>
        <property name="targetMethod" value="sendFormSubmissionNotificationsForIVRS"/>
    </bean>

    <bean id="formSubmissionNotificationTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
        <property name="jobDetail" ref="formSubmissionNotificationJob"/>
        <property name="startDelay" value="0"/>
        <!-- repeat every 2 min -->
        <property name="repeatInterval" value="120000"/>
    </bean>

    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="nightlyTrigger"/>
                <ref bean="nightlyTriggerForObjectCreation"/>
                <ref bean="formSubmissionNotificationTrigger"/>
                <ref bean="ivrsTrigger"/>
                <ref bean="nightlyTriggerForScheduleStatusUpdate"/>
            </list>
        </property>
    </bean>
    <bean id="buildInfo" class="gov.nih.nci.cabig.ctms.tools.BuildInfo">
        <property name="applicationName">
            <value>ProCtcAE</value>
        </property>
        <property name="versionNumber">
            <value>@project.version@</value>
        </property>
        <!-- provided by maven-buildnumber-plugin -->
        <!--<property name="timestamp">-->
        <!--<value>@buildNumber@</value>-->
        <!--</property>-->
    </bean>

    <bean name="/loadProCtcTerms" id="loadProCtcTerms" class="gov.nih.nci.ctcae.web.LoadProCtcTermController">
        <property name="proCtcTermRepository" ref="proCtcTermRepository"/>
        <property name="ctcTermRepository" ref="ctcTermRepository"/>
        <property name="proCtcRepository" ref="proCtcRepository"/>
    </bean>
    <bean name="/updateProCtcTerms" id="updateProCtcTerms" class="gov.nih.nci.ctcae.web.UpdateProCtcTermController">
        <property name="proCtcQuestionRepository" ref="proCtcQuestionRepository"/>
        <property name="ctcTermRepository" ref="ctcTermRepository"/>
        <property name="proCtcRepository" ref="proCtcRepository"/>
        <property name="proCtcTermRepository" ref="proCtcTermRepository"/>
    </bean>

    <bean name="/loadMultiLangTerms" id="loadMultiLangTerms" class="gov.nih.nci.ctcae.web.LoadMultiLangTermsController">
        <property name="proCtcQuestionRepository" ref="proCtcQuestionRepository"/>
        <property name="proCtcTermRepository" ref="proCtcTermRepository"/>
    </bean>

    <bean name="/updateMeddraTerms" id="updateMeddraTerms" class="gov.nih.nci.ctcae.web.UpdateMeddraTermsController">
        <property name="meddraLoaderRepository" ref="meddraLoaderRepository"/>
        <property name="updateMeddraLoader" ref="updateMeddraLoader"/>
        <property name="genericRepository" ref="genericRepository"/>
    </bean>

    <bean name="updateMeddraLoader" class="gov.nih.nci.ctcae.core.csv.loader.UpdateMeddraLoader">
        <!--<property name="hibernateTemplate" ref="hibernateTemplate"/>-->
        <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    </bean>

    <bean name="/updateSpanishMeddraTerms" id="updateSpanishMeddra"
          class="gov.nih.nci.ctcae.web.UpdateMeddraTermSpanishController">
        <property name="meddraLoaderRepository" ref="meddraLoaderRepository"/>
        <property name="updateMeddraSpanishLoader" ref="updateMeddraSpanishLoader"/>
        <property name="genericRepository" ref="genericRepository"/>
    </bean>

    <bean name="updateMeddraSpanishLoader" class="gov.nih.nci.ctcae.core.csv.loader.UpdateMeddraSpanishLoader">

    </bean>


    <bean name="/deleteProCtcTerm" id="deleteProCtcTerm" class="gov.nih.nci.ctcae.web.DeleteProCtcTermController">
        <property name="proCtcTermRepository" ref="proCtcTermRepository"/>
    </bean>

    <bean name="applicationListener" class="gov.nih.nci.ctcae.web.security.ApplicationListener">
        <property name="userRepository" ref="userRepository"/>
    </bean>

    <bean name="/participant/participantReportingModeHistory" id="participantReportingModeHistory"
          class="gov.nih.nci.ctcae.web.participant.ParticipantReportingModeHistoryController">
        <property name="studyParticipantAssignmentRepository" ref="studyParticipantAssignmentRepository"/>
    </bean>



</beans>


