<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
        >
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <bean id="organizationAjaxFacade"
          class="gov.nih.nci.ctcae.web.organization.OrganizationAjaxFacade">
        <property name="organizationRepository" ref="organizationRepository"/>
        <property name="studyOrganizationRepository" ref="studyOrganizationRepository"/>
        <property name="genericRepository" ref="genericRepository"/>
        <property name="userRepository" ref="userRepository"/>
    </bean>
    <bean id="studyAjaxFacade"
          class="gov.nih.nci.ctcae.web.study.StudyAjaxFacade">
        <property name="studyRepository" ref="studyRepository"/>
    </bean>

    <bean id="uniqueIdentifierForStudyValidator"
          class="gov.nih.nci.ctcae.core.validation.annotation.UniqueIdentifierForStudyValidator">
        <property name="studyRepository" ref="studyRepository"/>
    </bean>

    <bean id="clinicalStaffAjaxFacade"
          class="gov.nih.nci.ctcae.web.clinicalStaff.ClinicalStaffAjaxFacade">
        <property name="clinicalStaffRepository" ref="clinicalStaffRepository"/>
        <property name="organizationClinicalStaffRepository" ref="organizationClinicalStaffRepository"/>
    </bean>

    <bean id="participantAjaxFacade"
          class="gov.nih.nci.ctcae.web.participant.ParticipantAjaxFacade">
        <property name="participantRepository" ref="participantRepository"/>
    </bean>

    <bean id="scheduleCrfAjaxFacade"
          class="gov.nih.nci.ctcae.web.participant.ScheduleCrfAjaxFacade">
        <property name="participantRepository" ref="participantRepository"/>
        <property name="studyRepository" ref="studyRepository"/>
        <property name="genericRepository" ref="genericRepository"/>
        <property name="proCtcTermRepository" ref="proCtcTermRepository"/>
        <property name="meddraRepository" ref="meddraRepository"/>
    </bean>
    <bean id="crfAjaxFacade"
          class="gov.nih.nci.ctcae.web.form.CrfAjaxFacade">
        <property name="crfRepository" ref="crfRepository"/>
        <property name="genericRepository" ref="genericRepository"/>
    </bean>
    <bean id="meddraAjaxFacade"
          class="gov.nih.nci.ctcae.web.meddra.MeddraAjaxFacade">
        <property name="lltDao" ref="lowLevelTermDao"/>
        <property name="meddraDao" ref="meddraDao"/>
        <property name="meddraVersionDao" ref="meddraVersionDao"/>
        <property name="transactionManager" ref="transactionManager"/>
    </bean>
    <bean id="meddraVersionDao"
          class="gov.nih.nci.ctcae.core.dao.MeddraVersionDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    <bean id="meddraDao"
          class="gov.nih.nci.ctcae.core.dao.MedDRADao">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
        <property name="properties" ref="proCtcAeProperties"/>
    </bean>
    <bean id="lowLevelTermDao"
          class="gov.nih.nci.ctcae.core.dao.LowLevelTermDao">
        <property name="hibernateTemplate" ref="hibernateTemplate"></property>
    </bean>
    

</beans>