<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:amq="http://activemq.apache.org/schema/core"
        xmlns:jms="http://www.springframework.org/schema/jms"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
    	http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/jms
	    http://www.springframework.org/schema/jms/spring-jms-3.0.xsd
        http://activemq.apache.org/schema/core
   	    http://activemq.apache.org/schema/core/activemq-core-5.3.2.xsd ">
        
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
        <list>
        	<value>/WEB-INF/help</value>
            <value>/WEB-INF/messages</value>
            <value>/WEB-INF/version</value>
        </list>
        </property>
        <property name="cacheSeconds" value="1"/>
    </bean>
    
    <bean id="localeChangeInterceptor"
	    class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
	    <property name="paramName" value="lang" />
	</bean>
	
	<bean id="localeResolver"
	    class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
	    <property name="defaultLocale" value="en"/>
	</bean>
	
    <bean id="notNullValidator"
          class="gov.nih.nci.ctcae.core.validation.annotation.NotNullValidator">
    </bean>
    
    <bean id="notEmptyValidator"
          class="gov.nih.nci.ctcae.core.validation.annotation.NotEmptyValidator">
    </bean>
    
    <bean id="uniqueObjectInCollectionValidator"
          class="gov.nih.nci.ctcae.core.validation.annotation.UniqueObjectInCollectionValidator">
    </bean>
    
    <bean id="uniqueTitleForCrfValidator"
          class="gov.nih.nci.ctcae.core.validation.annotation.UniqueTitleForCrfValidator">
        <property name="crfRepository" ref="crfRepository"/>
    </bean>
    
    <bean id="uniqueParticipantUserNumberValidator"
          class="gov.nih.nci.ctcae.core.validation.annotation.UniqueParticipantUserNumberValidator">
          <property name="participantRepository" ref="participantRepository"/>
    </bean>
    
    <bean id="uniqueParticipantEmailAddressValidator"
          class="gov.nih.nci.ctcae.core.validation.annotation.UniqueParticipantEmailAddressValidator">
        <property name="participantRepository" ref="participantRepository"/>
    </bean>
    
     <bean id="uniqueStudyIdentifierForParticipantValidator"
          class="gov.nih.nci.ctcae.core.validation.annotation.UniqueStudyIdentifierForParticipantValidator">
        <property name="participantRepository" ref="participantRepository"/>
    </bean>
    
    <bean id="uniqueIdentifierForStudyValidator"
          class="gov.nih.nci.ctcae.core.validation.annotation.UniqueIdentifierForStudyValidator">
        <property name="studyRepository" ref="studyRepository"/>
    </bean>
    
    <bean id="webControllerValidator"
          class="gov.nih.nci.ctcae.web.validation.validator.WebControllerValidatorImpl"/>
          
    <bean id="controllerTools" class="gov.nih.nci.ctcae.web.ControllerTools">
    </bean>
    
    
    <!--  lets create an embedded ActiveMQ Broker -->
    <amq:broker id="broker" useJmx="false" persistent="false">
        <amq:transportConnectors>
            <amq:transportConnector uri="tcp://localhost:61616?wireFormat.maxInactivityDuration=0"/>
        </amq:transportConnectors>
    </amq:broker>

    <!--  ActiveMQ destinations to use  -->
    <amq:queue id="destination" physicalName="org.apache.activemq.spring.Test.spring.embedded"/>

    <!-- JMS ConnectionFactory to use, configuring the embedded broker using XML -->
    <amq:connectionFactory id="jmsFactory" brokerURL="tcp://localhost:61616"/>

    <!-- Spring JMS Template -->
    <bean id="myJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory">
            <!-- lets wrap in a pool to avoid creating a connection per send -->
            <bean class="org.springframework.jms.connection.CachingConnectionFactory">
                <property name="targetConnectionFactory">
                    <ref local="jmsFactory"/>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="consumerJmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="jmsFactory"/>
    </bean>

    <!-- A POJO that implements the JMS message listener -->
    <bean id="simpleMessageListener" class="gov.nih.nci.ctcae.web.ivrs.callout.IvrsMessageListener">
        <property name="properties" ref="proCtcAeProperties"/>
	</bean>
	
    <!-- The Spring message listener container configuration -->
    <jms:listener-container container-type="default" connection-factory="jmsFactory" acknowledge="auto"
                            concurrency="2-2">
        <jms:listener destination="IVRS.DESTINATION" ref="simpleMessageListener" method="onMessage"/>
    </jms:listener-container>
</beans>