software/commons/build
software/commons/reports
software/core/build
software/core/reports
software/repository
software/target
software/web/build
software/web/reports
software/web/src/main/webapp/WEB-INF/classes
software/web/src/main/webapp/WEB-INF/lib
