* text=auto !eol
pro-ctcae/software/all.bat -text
pro-ctcae/software/build.properties -text
pro-ctcae/software/build.xml -text
pro-ctcae/software/build/build.xml -text
pro-ctcae/software/build/install.properties -text
pro-ctcae/software/build/install.xml -text
pro-ctcae/software/build/project.properties -text
pro-ctcae/software/build/properties.template -text
pro-ctcae/software/build/upgrade.properties -text
pro-ctcae/software/buildWeb.sh -text
pro-ctcae/software/common.xml -text
pro-ctcae/software/common/bda-download/bda-ivy-2.0.0-build.xml -text
pro-ctcae/software/common/bda-download/bda-ivy-build.xml -text
pro-ctcae/software/common/bda-download/cbiit-ivy-bda-settings.xml -text
pro-ctcae/software/common/bda-download/ivy-bda-2.0.0.xml -text
pro-ctcae/software/common/bda-download/ivy-bda-settings.xml -text
pro-ctcae/software/common/bda-download/ivy-bda.xml -text
pro-ctcae/software/common/checkstyle/checkstyle-author.xsl -text
pro-ctcae/software/common/checkstyle/checkstyle-csv.xsl -text
pro-ctcae/software/common/checkstyle/checkstyle-frames-errors.xsl -text
pro-ctcae/software/common/checkstyle/checkstyle-frames.xsl -text
pro-ctcae/software/common/checkstyle/checkstyle-noframes-sorted.xsl -text
pro-ctcae/software/common/checkstyle/checkstyle-noframes.xsl -text
pro-ctcae/software/common/checkstyle/checkstyle-simple.xsl -text
pro-ctcae/software/common/checkstyle/checkstyle-text.xsl -text
pro-ctcae/software/common/checkstyle/checkstyle_checks.xml -text
pro-ctcae/software/common/checkstyle/checkstyle_minimal.xml -text
pro-ctcae/software/common/findbugs/default.xsl -text
pro-ctcae/software/common/findbugs/fancy-hist.xsl -text
pro-ctcae/software/common/findbugs/fancy.xsl -text
pro-ctcae/software/common/findbugs/plain.xsl -text
pro-ctcae/software/common/findbugs/summary.xsl -text
pro-ctcae/software/common/grand/generic-root-build.xml.pdf -text
pro-ctcae/software/common/grand/generic-root-install.xml.pdf -text
pro-ctcae/software/common/ivy/cbiit-ivy-settings.xml -text
pro-ctcae/software/common/ivy/ivy-settings.xml -text
pro-ctcae/software/common/ivy/ivy-test.xml -text
pro-ctcae/software/common/ivysettings.xml -text
pro-ctcae/software/common/javancss/javancss2methodhtml.xsl -text
pro-ctcae/software/common/maven/profiles.xml -text
pro-ctcae/software/common/pmd/pmd-hudson-preprocessor.xlst -text
pro-ctcae/software/common/pmd/pmd-report.xslt -text
pro-ctcae/software/common/pmd/pmd-ruleset-basic.xml -text
pro-ctcae/software/common/resources/security/165.112.132.171-cert.pem -text
pro-ctcae/software/common/resources/security/165.112.132.171-key.pem -text
pro-ctcae/software/common/resources/security/grid-sample-cert.pem -text
pro-ctcae/software/common/resources/security/grid-sample-key.pem -text
pro-ctcae/software/common/resources/security/ncicb-test-ssl.keystore -text
pro-ctcae/software/common/simian/simian.xsl -text
pro-ctcae/software/datasource.properties -text
pro-ctcae/software/ivy.xml -text
pro-ctcae/software/ivysettings-offline.xml -text
pro-ctcae/software/ivysettings.xml -text
pro-ctcae/software/pro-ctcae.iml -text
pro-ctcae/software/pro-ctcae.ipr -text
pro-ctcae/software/pro-ctcae.iws -text
pro-ctcae/software/recreate-db-populate-data.bat -text
pro-ctcae/software/software/all.bat -text
pro-ctcae/software/software/build.properties -text
pro-ctcae/software/software/build.xml -text
pro-ctcae/software/software/build/build.xml -text
pro-ctcae/software/software/build/install.properties -text
pro-ctcae/software/software/build/install.xml -text
pro-ctcae/software/software/build/project.properties -text
pro-ctcae/software/software/build/properties.template -text
pro-ctcae/software/software/build/upgrade.properties -text
pro-ctcae/software/software/buildWeb.sh -text
pro-ctcae/software/software/common.xml -text
pro-ctcae/software/software/common/bda-download/bda-ivy-2.0.0-build.xml -text
pro-ctcae/software/software/common/bda-download/bda-ivy-build.xml -text
pro-ctcae/software/software/common/bda-download/cbiit-ivy-bda-settings.xml -text
pro-ctcae/software/software/common/bda-download/ivy-bda-2.0.0.xml -text
pro-ctcae/software/software/common/bda-download/ivy-bda-settings.xml -text
pro-ctcae/software/software/common/bda-download/ivy-bda.xml -text
pro-ctcae/software/software/common/checkstyle/checkstyle-author.xsl -text
pro-ctcae/software/software/common/checkstyle/checkstyle-csv.xsl -text
pro-ctcae/software/software/common/checkstyle/checkstyle-frames-errors.xsl -text
pro-ctcae/software/software/common/checkstyle/checkstyle-frames.xsl -text
pro-ctcae/software/software/common/checkstyle/checkstyle-noframes-sorted.xsl -text
pro-ctcae/software/software/common/checkstyle/checkstyle-noframes.xsl -text
pro-ctcae/software/software/common/checkstyle/checkstyle-simple.xsl -text
pro-ctcae/software/software/common/checkstyle/checkstyle-text.xsl -text
pro-ctcae/software/software/common/checkstyle/checkstyle_checks.xml -text
pro-ctcae/software/software/common/checkstyle/checkstyle_minimal.xml -text
pro-ctcae/software/software/common/findbugs/default.xsl -text
pro-ctcae/software/software/common/findbugs/fancy-hist.xsl -text
pro-ctcae/software/software/common/findbugs/fancy.xsl -text
pro-ctcae/software/software/common/findbugs/plain.xsl -text
pro-ctcae/software/software/common/findbugs/summary.xsl -text
pro-ctcae/software/software/common/grand/generic-root-build.xml.pdf -text
pro-ctcae/software/software/common/grand/generic-root-install.xml.pdf -text
pro-ctcae/software/software/common/ivy/cbiit-ivy-settings.xml -text
pro-ctcae/software/software/common/ivy/ivy-settings.xml -text
pro-ctcae/software/software/common/ivy/ivy-test.xml -text
pro-ctcae/software/software/common/ivysettings.xml -text
pro-ctcae/software/software/common/javancss/javancss2methodhtml.xsl -text
pro-ctcae/software/software/common/maven/profiles.xml -text
pro-ctcae/software/software/common/pmd/pmd-hudson-preprocessor.xlst -text
pro-ctcae/software/software/common/pmd/pmd-report.xslt -text
pro-ctcae/software/software/common/pmd/pmd-ruleset-basic.xml -text
pro-ctcae/software/software/common/resources/security/165.112.132.171-cert.pem -text
pro-ctcae/software/software/common/resources/security/165.112.132.171-key.pem -text
pro-ctcae/software/software/common/resources/security/grid-sample-cert.pem -text
pro-ctcae/software/software/common/resources/security/grid-sample-key.pem -text
pro-ctcae/software/software/common/resources/security/ncicb-test-ssl.keystore -text
pro-ctcae/software/software/common/simian/simian.xsl -text
pro-ctcae/software/web.bat -text
