* text=auto !eol
pro-ctcae/core/core.iml -text
pro-ctcae/core/ivy-build.xml -text
pro-ctcae/core/ivy.xml -text
pro-ctcae/core/maven-eclipse.xml -text
pro-ctcae/core/pom.xml -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/001_create_organizations.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/002_add_hibernate_seq.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/003_create_studies.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/004_create_study_organizations.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/005_create_CRFS.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/006_create_CTC_TERMS.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/007_create_PRO_CTC.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/008_create_PRO_CTC_TERMS.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/009_create_PRO_CTC_VALID_VALUES.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/010_add_ctcae_v3_terms.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/011_create_CRF_ITEMS.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/012_create_participants.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/013_create_PRO_CTC_TERM_VALID_VALUES.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/014_create_investigators.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/015_drop_PRO_CTC_TERM_VALID_VALUES.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/016_alter_PRO_CTC_VALID_VALUES.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/017_create_site_investigators.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/018_create_STUDY_CRFS.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/019_create_STUDY_PARTICIPANT_ASSIGMENTS.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/020_create_STUDY_PARTICIPANT_CRFS.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/021_create_STUDY_PARTICIPANT_CRF_ITEMS.groovy -text
pro-ctcae/core/src/main/db/migrate/001_elaboration_1/022_insert_organizations.groovy -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/BasePersistable.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/BaseVersionable.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/CRF.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/CrfItem.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/CtcTerm.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/Investigator.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/Organization.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/Participant.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/Persistable.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/Person.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/ProCtc.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/ProCtcTerm.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/ProCtcValidValue.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/SiteInvestigator.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/Study.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/StudyCoordinatingCenter.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/StudyCrf.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/StudyDisease.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/StudyFundingSponsor.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/StudyOrganization.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/StudyParticipantAssignment.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/StudyParticipantCrf.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/StudyParticipantCrfItem.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/domain/StudySite.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/exception/CtcAeSystemException.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/query/AbstractQuery.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/query/CRFQuery.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/query/CrfItemQuery.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/query/CtcTermQuery.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/query/InvestigatorQuery.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/query/OrganizationQuery.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/query/ParticipantQuery.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/query/ProCtcQuery.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/query/ProCtcTermQuery.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/query/ProCtcValidValueQuery.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/query/Query.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/query/StudyQuery.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/AbstractRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/CRFRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/CommonRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/CrfItemRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/CtcTermRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/GenericRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/InvestigatorRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/JpaGenericRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/OrganizationRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/ParticipantRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/ProCtcRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/ProCtcTermRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/ProCtcValidValueRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/Repository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/repository/StudyRepository.java -text
pro-ctcae/core/src/main/java/gov/nih/nci/ctcae/core/security/ApplicationSecurityManager.java -text
pro-ctcae/core/src/main/resources/META-INF/log4j.properties -text
pro-ctcae/core/src/main/resources/META-INF/persistence.xml -text
pro-ctcae/core/src/main/resources/ehcache.xml -text
pro-ctcae/core/src/main/resources/gov/nih/nci/ctcae/core/applicationContext-core.xml -text
pro-ctcae/core/src/main/resources/gov/nih/nci/ctcae/core/applicationContext-datasource.xml -text
pro-ctcae/core/src/main/resources/gov/nih/nci/ctcae/core/applicationContext-jms.xml -text
pro-ctcae/core/src/main/resources/gov/nih/nci/ctcae/core/applicationContext-util.xml -text
pro-ctcae/core/src/main/resources/gov/nih/nci/ctcae/core/email/template/exception.ftl -text
pro-ctcae/core/src/main/resources/log4j.properties -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/AbstractJpaIntegrationTestCase.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/AbstractSecurityIntegrationTestCase.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/AbstractTestCase.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/Fixture.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/TestBean.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/CRFIntegrationTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/CRFTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/CrfItemIntegrationTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/CrfItemTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/CtcTermIntegrationTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/InvestigatorIntegrationTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/InvestigatorTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/OrganizationIntegrationTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/OrganizationTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/ParticipantIntegrationTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/ParticipantTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/ProCtcIntegrationTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/ProCtcTermIntegrationTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/ProCtcTermTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/ProCtcTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/ProCtcValidValueIntegrationTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/ProCtcValidValueTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/SiteInvestigatorTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/StudyCrfIntegrationTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/domain/StudyIntegrationTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/query/CRFQueryTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/query/InvestigatorQueryTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/query/OrganizationQueryTest.java -text
pro-ctcae/core/src/test/java/gov/nih/nci/ctcae/core/query/ParticipantQueryTest.java -text
