* text=auto !eol
pro-ctcae/software/all.bat -text
pro-ctcae/software/build.properties -text
pro-ctcae/software/build.xml -text
pro-ctcae/software/buildWeb.sh -text
pro-ctcae/software/common.xml -text
pro-ctcae/software/datasource.properties -text
pro-ctcae/software/ivy.xml -text
pro-ctcae/software/ivysettings-offline.xml -text
pro-ctcae/software/ivysettings.xml -text
pro-ctcae/software/pro-ctcae.iml -text
pro-ctcae/software/pro-ctcae.ipr -text
pro-ctcae/software/pro-ctcae.iws -text
pro-ctcae/software/recreate-db-populate-data.bat -text
pro-ctcae/software/web.bat -text
