<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
        >
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

    <bean id="organizationAjaxFacade"
          class="gov.nih.nci.ctcae.web.organization.OrganizationAjaxFacade">
        <property name="organizationRepository" ref="organizationRepository"/>
        <property name="studyOrganizationRepository" ref="studyOrganizationRepository"/>
    </bean>
    <bean id="studyAjaxFacade"
          class="gov.nih.nci.ctcae.web.study.StudyAjaxFacade">
        <property name="studyRepository" ref="studyRepository"/>
        <property name="participantRepository" ref="participantRepository"/>
    </bean>

    <bean id="clinicalStaffAjaxFacade"
          class="gov.nih.nci.ctcae.web.clinicalStaff.ClinicalStaffAjaxFacade">
        <property name="clinicalStaffRepository" ref="clinicalStaffRepository"/>
        <property name="organizationClinicalStaffRepository" ref="organizationClinicalStaffRepository"/>
    </bean>

    <bean id="participantAjaxFacade"
          class="gov.nih.nci.ctcae.web.participant.ParticipantAjaxFacade">
        <property name="participantRepository" ref="participantRepository"/>
    </bean>

    <bean id="scheduleCrfAjaxFacade"
          class="gov.nih.nci.ctcae.web.participant.ScheduleCrfAjaxFacade">
        <property name="participantRepository" ref="participantRepository"/>
        <property name="studyRepository" ref="studyRepository"/>
    </bean>
    <bean id="crfAjaxFacade"
          class="gov.nih.nci.ctcae.web.form.CrfAjaxFacade">
        <property name="crfRepository" ref="crfRepository"/>
        <property name="genericRepository" ref="genericRepository"/>
    </bean>


</beans>