<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!-- To tell Spring to look for @Transactional -->
    <tx:annotation-driven proxy-target-class="true"/>

    <bean id="codebaseDirectory" class="java.lang.String">
        <constructor-arg value="${codebase.directory}"/>

    </bean>
    <!--<bean id="meddraDirectory" class="java.lang.String">-->
        <!--<constructor-arg value="${meddra.directory}"/>-->

    <!--</bean>-->


</beans>
