<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">


    <bean id="proCtcAeProperties" class="gov.nih.nci.cabig.ctms.tools.DataSourceSelfDiscoveringPropertiesFactoryBean">
        <property name="databaseConfigurationName">
            <value>datasource</value>
        </property>
        <property name="applicationDirectoryName">
            <value>proctcae</value>
        </property>
    </bean>

    <bean id="mainPropertyConfigurer" class="gov.nih.nci.cabig.ctms.tools.spring.PropertyPlaceholderConfigurer">
        <property name="properties" ref="proCtcAeProperties">

        </property>
        <property name="useNullForUnresolvablePlaceholders">
            <value>true</value>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

</beans>

