<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
      http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.4.xsd">


    <tx:annotation-driven proxy-target-class="true"/>


    <!-- since we use global-security...we use the custom-after-invocation-provider to register the instances -->
    <!---->
    <bean id="afterInvocationManager"
          class="org.springframework.security.afterinvocation.AfterInvocationProviderManager">
        <property name="providers">
            <list>
                <ref local="domainObjectAfterInvocationProvider"/>
                <ref local="domainObjectCollectionAfterInvocationProvider"/>
            </list>
        </property>
    </bean>

    <bean id="domainObjectAfterInvocationProvider"
          class="gov.nih.nci.ctcae.core.security.afterinvocation.DomainObjectAfterInvocationProvider"
          p:domainObjectAuthorizationCheck-ref="domainObjectAuthorizationCheck">
        <security:custom-after-invocation-provider/>
    </bean>
    <bean id="domainObjectCollectionAfterInvocationProvider"
          class="gov.nih.nci.ctcae.core.security.afterinvocation.DomainObjectCollectionAfterInvocationProvider"
          p:domainObjectAuthorizationCheck-ref="domainObjectAuthorizationCheck">
        <security:custom-after-invocation-provider/>
    </bean>


    <security:global-method-security access-decision-manager-ref="accessDecisionManager">
        <security:protect-pointcut expression="execution(* gov.nih.nci.ctcae.core.repository.CRFRepository.save(..))"
                                   access="PRIVILEGE_CREATE_FORM"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.CRFRepository.updateStatusToReleased(..))"
                access="PRIVILEGE_RELEASE_FORM"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.CRFRepository.generateSchedulesFromCrfCalendar(..))"
                access="PRIVILEGE_CREATE_FORM"/>


        <security:protect-pointcut expression="execution(* gov.nih.nci.ctcae.core.repository.CRFRepository.delete(..))"
                                   access="PRIVILEGE_DELETE_FORM"/>

        <security:protect-pointcut expression="execution(* gov.nih.nci.ctcae.core.repository.CRFRepository.find*(..))"
                                   access="PRIVILEGE_SEARCH_FORM"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.CRFRepository.versionCrf(..))"
                access="PRIVILEGE_VERSION_FORM"/>
        <security:protect-pointcut expression="execution(* gov.nih.nci.ctcae.core.repository.CRFRepository.copy(..))"
                                   access="PRIVILEGE_COPY_FORM"/>
        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.CRFRepository.*(..))"
                access="PRIVILEGE_ADMIN"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.OrganizationRepository.find*(..))"
                access="IS_AUTHENTICATED_FULLY"/>


        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.StudyRepository.save(..))"
                access="PRIVILEGE_CREATE_STUDY,PRIVILEGE_EDIT_STUDY,PRIVILEGE_ADD_STUDY_SITE_CLINICAL_STAFF"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.StudyRepository.find*(..))"
                access="PRIVILEGE_SEARCH_STUDY"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.StudyRepository.addStudyOrganizationClinicalStaff(..))"
                access="PRIVILEGE_ADD_STUDY_SITE_CLINICAL_STAFF"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.StudyRepository.addStudySite(..))"
                access="PRIVILEGE_ADD_STUDY_SITE"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.StudyRepository.*(..))"
                access="PRIVILEGE_ADMIN"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.StudyOrganizationRepository.find*(..))"
                access="PRIVILEGE_SEARCH_STUDY"/>

        <!--<security:protect-pointcut-->
        <!--expression="execution(* gov.nih.nci.ctcae.core.repository.ClinicalStaffRepository.save(..))"-->
        <!--access="PRIVILEGE_CREATE_CLINICAL_STAFF,PRIVILEGE_EDIT_CLINICAL_STAFF"/>-->

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.ClinicalStaffRepository.find*(..))"
                access="PRIVILEGE_SEARCH_CLINICAL_STAFF"/>
        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.ClinicalStaffRepository.save(..))"
                access="PRIVILEGE_CREATE_CLINICAL_STAFF,PRIVILEGE_EDIT_CLINICAL_STAFF"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.ClinicalStaffRepository.delete(..))"
                access="PRIVILEGE_ADMIN"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.OrganizationClinicalStaffRepository.findByStudyOrganizationId(..))"
                access="AUTH_CHECK"/>
        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.OrganizationClinicalStaffRepository.findById(..))"
                access="PRIVILEGE_ADMIN"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.OrganizationClinicalStaffRepository.*(..))"
                access="PRIVILEGE_ADMIN"/>


        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.ParticipantRepository.save(..))"
                access="PRIVILEGE_CREATE_PARTICIPANT,PRIVILEGE_PARTICIPANT_DISPLAY_STUDY_SITES,PRIVILEGE_PARTICIPANT_ADD_NOTIFICATION_CLINICAL_STAFF,PRIVILEGE_EDIT_PARTICIPANT"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.ParticipantRepository.find*(..))"
                access="PRIVILEGE_SEARCH_PARTICIPANT,PRIVILEGE_VIEW_PARTICIPANT"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.ParticipantRepository.*(..))"
                access="PRIVILEGE_ADMIN"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.StudyParticipantAssignmentRepository.save(..))"
                access="PRIVILEGE_PARTICIPANT_SCHEDULE_CRF"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.StudyParticipantAssignmentRepository.find*(..))"
                access="PRIVILEGE_PARTICIPANT_SCHEDULE_CRF"/>

        <security:protect-pointcut
                expression="execution(* gov.nih.nci.ctcae.core.repository.StudyParticipantAssignmentRepository.*(..))"
                access="PRIVILEGE_ADMIN"/>


        <!--must not remove this line. no one should be able to access generic methods..developer must configure security for each method->-->
        <!---->
        <!--<security:protect-pointcut expression="execution(* gov.nih.nci.ctcae.core.repository.OrganizationRepository.*(..))"-->
        <!--access="PRIVILEGE_ADMIN"/>-->

    </security:global-method-security>


    <!--do not change this salt source. because it must be same as <salt-source/> tag -->


    <!--It will create a daoAuthenticationProvider-->
    <security:authentication-provider user-service-ref="userRepository">
        <security:password-encoder ref="passwordEncoder">
            <security:salt-source user-property="username"/>
        </security:password-encoder>

    </security:authentication-provider>


    <!-- Automatically receives AuthenticationEvent messages from DaoAuthenticationProvider -->
    <bean id="authorizationLoggerListener"
          class="org.springframework.security.event.authorization.LoggerListener"/>

    <bean id="authenticationLoggerListener"
          class="org.springframework.security.event.authorization.LoggerListener"/>


    <bean id="accessDecisionManager" class="org.springframework.security.vote.AffirmativeBased">
        <property name="decisionVoters">
            <list>
                <ref local="roleVoter"/>
                <ref local="authenticatedVoter"/>
                <ref local="domainObjectAuthorizationCheckVoter"/>
            </list>
        </property>

    </bean>

    <bean id="roleVoter" class="org.springframework.security.vote.RoleVoter">
        <property name="rolePrefix" value="PRIVILEGE_"/>
    </bean>
    <bean id="domainObjectAuthorizationCheckVoter"
          class="gov.nih.nci.ctcae.core.security.beforeinvocation.DomainObjectAuthorizationCheckVoter">
        <property name="methodAuthorizationChecks">
            <list>
                <bean class="gov.nih.nci.ctcae.core.security.beforeinvocation.OrganizationClinicalStaffAuthorizationCheck"
                      p:domainObjectAuthorizationCheck-ref="domainObjectAuthorizationCheck"
                      p:studyOrganizationRepository-ref="studyOrganizationRepository"/>
            </list>
        </property>
    </bean>

    <bean id="domainObjectAuthorizationCheck" class="gov.nih.nci.ctcae.core.security.DomainObjectAuthorizationCheck">
        <property name="ignoredClasses">
            <list>
                <value>gov.nih.nci.ctcae.core.domain.OrganizationClinicalStaff</value>
            </list>
        </property>
    </bean>
    <bean id="authenticatedVoter" class="org.springframework.security.vote.AuthenticatedVoter"/>

    <bean id="privilegeAuthorizationCheck" class="gov.nih.nci.ctcae.core.security.PrivilegeAuthorizationCheck">
        <property name="accessDecisionManager" ref="accessDecisionManager"/>
    </bean>


</beans>
