<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">


	<!--  for @Repository annotation  -->
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>







<bean id="sessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
	  autowire="byName">
        <property name="namingStrategy">
            <bean class="gov.nih.nci.ctcae.core.tools.hibernate.WonderfulNamingStrategy"/>
        </property>
        <property name="annotatedClasses">
            <list>
		<value>gov.nih.nci.ctcae.core.domain.Organization</value>
		<value>gov.nih.nci.ctcae.core.domain.ClinicalStaff</value>
		<value>gov.nih.nci.ctcae.core.domain.CRF</value>
		<value>gov.nih.nci.ctcae.core.domain.CrfItem</value>
		<value>gov.nih.nci.ctcae.core.domain.CtcCategory</value>
		<value>gov.nih.nci.ctcae.core.domain.Person</value>
		<value>gov.nih.nci.ctcae.core.domain.Participant</value>
		<value>gov.nih.nci.ctcae.core.domain.ProCtc</value>
		<value>gov.nih.nci.ctcae.core.domain.ProCtcQuestion</value>
		<value>gov.nih.nci.ctcae.core.domain.ProCtcTerm</value>
		<value>gov.nih.nci.ctcae.core.domain.ProCtcValidValue</value>
		<value>gov.nih.nci.ctcae.core.domain.SiteClinicalStaff</value>
		<value>gov.nih.nci.ctcae.core.domain.Study</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyClinicalStaff</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyCoordinatingCenter</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyCrf</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyFundingSponsor</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyOrganization</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyParticipantAssignment</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyParticipantCrf</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyParticipantCrfItem</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyParticipantCrfSchedule</value>
		<value>gov.nih.nci.ctcae.core.domain.StudySite</value>
		</list>
        </property>

	<property name="hibernateProperties" ref="hibernateProperties"/>
	     
        <property name="entityInterceptor">
       <!--      <bean class="edu.northwestern.bioinformatics.studycalendar.utils.GridIdentifierInterceptor" autowire="byType">
            </bean>-->
			<ref local="chainedInterceptor"/>
        </property>
    </bean>


    <bean id="auditSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean"
		  autowire="byName">
        <property name="namingStrategy">
            <bean class="gov.nih.nci.ctcae.core.tools.hibernate.WonderfulNamingStrategy"/>
        </property>
        <property name="annotatedClasses">
            <list>
 				<value>gov.nih.nci.cabig.ctms.audit.domain.DataAuditEventValue</value>
                <value>gov.nih.nci.cabig.ctms.audit.domain.DataAuditEvent</value>
          </list>
        </property>
		<property name="hibernateProperties" ref="hibernateProperties"/>
    </bean>


	<bean id="chainedInterceptor" class="gov.nih.nci.cabig.ctms.audit.ChainedInterceptor" autowire="byType">
		<property name="interceptors">
			<list>
				<!--<ref local="gridIdentifierInterceptor"/>-->
				<ref local="auditInterceptor"/>
			</list>
		</property>
	</bean>

	<bean id="auditInterceptor" class="gov.nih.nci.cabig.ctms.audit.AuditInterceptorImpl" autowire="byType">
		<property name="dataAuditRepository" ref="dataAuditRepository"></property>
		<property name="auditableEntities">
			<list>
		<value>gov.nih.nci.ctcae.core.domain.Organization</value>
		<value>gov.nih.nci.ctcae.core.domain.ClinicalStaff</value>
		<value>gov.nih.nci.ctcae.core.domain.CRF</value>
		<value>gov.nih.nci.ctcae.core.domain.CrfItem</value>
		<value>gov.nih.nci.ctcae.core.domain.CtcCategory</value>
		<value>gov.nih.nci.ctcae.core.domain.Person</value>
		<value>gov.nih.nci.ctcae.core.domain.Participant</value>
		<value>gov.nih.nci.ctcae.core.domain.ProCtc</value>
		<value>gov.nih.nci.ctcae.core.domain.ProCtcQuestion</value>
		<value>gov.nih.nci.ctcae.core.domain.ProCtcTerm</value>
		<value>gov.nih.nci.ctcae.core.domain.ProCtcValidValue</value>
		<value>gov.nih.nci.ctcae.core.domain.SiteClinicalStaff</value>
		<value>gov.nih.nci.ctcae.core.domain.Study</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyClinicalStaff</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyCoordinatingCenter</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyCrf</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyFundingSponsor</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyOrganization</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyParticipantAssignment</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyParticipantCrf</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyParticipantCrfItem</value>
		<value>gov.nih.nci.ctcae.core.domain.StudyParticipantCrfSchedule</value>
		<value>gov.nih.nci.ctcae.core.domain.StudySite</value>
		</list>
		</property>
		<property name="auditAll"><value>false</value></property>
	</bean>


    <bean id="openSessionInViewInterceptor"
		  class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor" autowire="byName">
        <property name="singleSession"><value>true</value></property>
        <property name="flushModeName"><value>FLUSH_AUTO</value></property>
    </bean>

    <bean id="auditOpenSessionInViewInterceptor"
		  class="org.springframework.orm.hibernate3.support.OpenSessionInViewInterceptor">
        <property name="sessionFactory"><ref local="auditSessionFactory"/></property>
        <property name="singleSession"><value>true</value></property>
        <property name="flushModeName"><value>FLUSH_AUTO</value></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager"
		  autowire="byName"/>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
        <property name="checkWriteOperations"><value>true</value></property>
        <property name="sessionFactory"><ref bean="sessionFactory"/></property>
    </bean>


    <bean name="dataAuditRepository" class="gov.nih.nci.cabig.ctms.audit.dao.DataAuditRepository">
        <property name="sessionFactory">
            <ref local="auditSessionFactory"/>
        </property>
    </bean>

	<bean id="auditHistoryDao" class="gov.nih.nci.cabig.ctms.audit.dao.AuditHistoryDao">
		<property name="hibernateTemplate" ref="hibernateTemplate"/>
	</bean>
    <bean id="auditHistoryRepository" class="gov.nih.nci.cabig.ctms.audit.dao.AuditHistoryRepository">
        <property name="auditHistoryDao" ref="auditHistoryDao"></property>
    </bean>


    <tx:annotation-driven proxy-target-class="true"/>

	<bean id="genericRepository" class="gov.nih.nci.ctcae.core.repository.HibernateGenericRepository">
	<property name="hibernateTemplate" ref="hibernateTemplate"/>	
	</bean>


	<!--<bean id="userRepository" class="gov.nih.nci.ctcae.core.repository.UserRepository">-->
	<!--<property name="genericRepository" ref="genericRepository"></property>-->
	<!--<property name="passwordEncoder" ref="passwordEncoder"></property>-->
	<!--<property name="saltSource" ref="saltSource"></property>-->

	<!--</bean>-->


	<bean id="finderRepository" class="gov.nih.nci.ctcae.core.repository.FinderRepository">
        <property name="genericRepository" ref="genericRepository"></property>
    </bean>
    <bean id="organizationRepository" class="gov.nih.nci.ctcae.core.repository.OrganizationRepository"
		  parent="abstractRepository">
    </bean>
    <bean id="participantRepository" class="gov.nih.nci.ctcae.core.repository.ParticipantRepository"
		  parent="abstractRepository">
    </bean>

    <bean id="studyRepository" class="gov.nih.nci.ctcae.core.repository.StudyRepository"
		  parent="abstractRepository">
    </bean>
    <bean id="clinicalStaffRepository" class="gov.nih.nci.ctcae.core.repository.ClinicalStaffRepository"
		  parent="abstractRepository">
    </bean>

    <bean id="abstractRepository" class="gov.nih.nci.ctcae.core.repository.AbstractRepository" abstract="true">
        <property name="genericRepository" ref="genericRepository"></property>
    </bean>

    <bean id="crfRepository" class="gov.nih.nci.ctcae.core.repository.CRFRepository"
		  parent="abstractRepository">
        <property name="studyRepository" ref="studyRepository"/>
    </bean>

    <bean id="proCtcTermRepository" class="gov.nih.nci.ctcae.core.repository.ProCtcTermRepository"
		  parent="abstractRepository">
    </bean>

    <bean id="proCtcQuestionRepository" class="gov.nih.nci.ctcae.core.repository.ProCtcQuestionRepository"
		  parent="abstractRepository">
    </bean>

    <bean id="proCtcRepository" class="gov.nih.nci.ctcae.core.repository.ProCtcRepository"
		  parent="abstractRepository">
    </bean>


    <bean id="crfItemRepository" class="gov.nih.nci.ctcae.core.repository.CrfItemRepository"
		  parent="abstractRepository">
        </bean>

    <bean id="studyParticipantAssignmentRepository"
		  class="gov.nih.nci.ctcae.core.repository.StudyParticipantAssignmentRepository"
		  parent="abstractRepository">
    </bean>


</beans>
