body {
    /* Have to use _all_ relative units
for the browser font setting to work on IE6. */
    font-size: 80%;
}

/* Force hasLayout */
* html div.row, * html .autoclear {
    height: 1%
}

.workflow-tabs {
	top: 115px;
}

.pane {
/* Fix the issue of summary not aligned properly */
    clear: both;
}

div.row {
    clear: both;
}
#formbuilderTable-borderTop {
	width:100%;
}
.formbuildersubHeader {
	position:relative;
}
button.ctcae-button {
	padding:8px 0;
}
a.ctcae-button .right {
	right:0px;
	top:1px;
}
button.ctcae-button .right {
	right:0px;
	top:0px;
}
