/* remove ff link outline */
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
a:focus { 
    outline: none; 
}
button:focus { 
    outline: none; 
}


/* Pointer Button styles */
.btn {cursor: pointer;font-family:"Lucida Grande", sans-serif;}
.btn img {margin-right: 4px; vertical-align: top; border:none;}

/* Small Button styles */

.btn.small-green  {display:inline-block; height:28px; padding-right:12px; background:url(../images/small-green_btn.png) 100% 0px no-repeat; }
.btn.small-green span {display:block; padding:3px 13px 3px 20px; font-size:18px; font-weight:bold; color:#fff; text-shadow:0 -1px 0 #2e6112; background:transparent url(../images/small-green_btn.png) 0 0 no-repeat; }
.btn.small-green:hover { background-position:100% -28px;}
.btn.small-green:hover span { background-position:0 -28px;}
.btn.small-green:active { background-position:100% -56px;}
.btn.small-green:active span { background-position:0 -56px;}


/* Big Button styles */

.btn.big-green  {display:inline-block; height:40px; padding-right:15px; background:url(../images/biggreen_btn.png) 100% 0px no-repeat; }
.btn.big-green span {display:block; padding:7px 13px 6px 25px; font-size:22px; font-weight:bold; color:#fff; text-shadow:0 -1px 0 #2e6112; background:transparent url(../images/biggreen_btn.png) 0 0 no-repeat; }
.btn.big-green:hover { background-position:100% -40px;}
.btn.big-green:hover span { background-position:0 -40px;}
.btn.big-green:active { background-position:100% -80px;}
.btn.big-green:active span { background-position:0 -80px;}


.btn.big-blue-left  {display:inline-block; height:40px; padding-left:15px; background:url(../images/btn-blue_left.png) 0 0px no-repeat; }
.btn.big-blue-left span {display:block; padding:7px 25px 6px 18px; font-size:22px; font-weight:bold; color:#fff; text-shadow:0 -1px 0 #277fa4; background:transparent url(../images/btn-blue_left.png) 100% 0 no-repeat; }
.btn.big-blue-left:hover { background-position:0 -40px;}
.btn.big-blue-left:hover span { background-position:100% -40px;}
.btn.big-blue-left:active { background-position:0 -80px;}
.btn.big-blue-left:active span { background-position:100% -80px;}

/* Huge Button styles */

.btn.huge-green  {display:inline-block; height:59px; padding-right:23px; background:url(../images/btn-green-lrg_right.png) 100% 0px no-repeat; }
.btn.huge-green span {display:block; padding:10px 23px 6px 35px; font-size:32px; font-weight:bold; color:#fff; text-shadow:0 -1px 0 #2e6112; background:transparent url(../images/btn-green-lrg_right.png) 0 0 no-repeat; }
.btn.huge-green:hover { background-position:100% -59px;}
.btn.huge-green:hover span { background-position:0 -59px;}
.btn.huge-green:active { background-position:100% -118px;}
.btn.huge-green:active span { background-position:0 -118px;}




/* Regular Button styles */
.btn {cursor: pointer; font-family:"Lucida Grande", sans-serif;}
.btn img {margin-right: 4px; vertical-align: top; border:none;}

/* Medium Button */

.btn.gray-med  {display:inline-block; height:27px; padding-right:8px; background:url(../images/buttons/gray-medium_end.png) 100% 0px no-repeat; }
.btn.gray-med span {display:block; padding:4px 6px 5px 10px; font-size:15px; font-weight:bold; color:#fff; text-shadow:0 -1px 0 #333; background:transparent url(../images/buttons/gray-medium_btn.png) 0 0 no-repeat; }
.btn.gray-med:hover {background-position:100% -28px;}
.btn.gray-med:hover span {background-position:0 -28px;}
.btn.gray-med:active {background-position:100% -56px;}
.btn.gray-med:active span {background-position:0 -56px;}

.btn.green-med  {display:inline-block; height:27px; padding-right:8px; background:url(../images/buttons/green-medium_end.png) 100% 0px no-repeat; }
.btn.green-med span {display:block; padding:4px 6px 5px 10px; font-size:15px; font-weight:bold; color:#fff; text-shadow:0 -1px 0 #538f32; background:transparent url(../images/buttons/green-medium_btn.png) 0 0 no-repeat; }
.btn.green-med:hover {background-position:100% -28px;}
.btn.green-med:hover span {background-position:0 -28px;}
.btn.green-med:active {background-position:100% -56px;}
.btn.green-med:active span {background-position:0 -56px;}

.btn.red-med  {display:inline-block; height:27px; padding-right:8px; background:url(../images/buttons/red-medium_end.png) 100% 0px no-repeat; }
.btn.red-med span {display:block; padding:4px 6px 5px 10px; font-size:15px; font-weight:bold; color:#fff; text-shadow:0 -1px 0 #a52020; background:transparent url(../images/buttons/red-medium_btn.png) 0 0 no-repeat; }
.btn.red-med:hover {background-position:100% -28px;}
.btn.red-med:hover span {background-position:0 -28px;}
.btn.red-med:active {background-position:100% -56px;}
.btn.red-med:active span {background-position:0 -56px;}

.btn.blue-med  {display:inline-block; height:27px; padding-right:8px; background:url(../images/buttons/blue-medium_end.png) 100% 0px no-repeat; }
.btn.blue-med span {display:block; padding:4px 6px 5px 10px; font-size:15px; font-weight:bold; color:#fff; text-shadow:0 -1px 0 #0e3159; background:transparent url(../images/buttons/blue-medium_btn.png) 0 0 no-repeat; }
.btn.blue-med:hover {background-position:100% -28px;}
.btn.blue-med:hover span {background-position:0 -28px;}
.btn.blue-med:active {background-position:100% -56px;}
.btn.blue-med:active span {background-position:0 -56px;}