
/**** GENERAL TAG STYLE OVERRIDES */

body {
    font-family: Lucida Grande, Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #000000;
    text-align: center;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-image: url(../images/blue/body_bg.png);
    background-position: center top;
    background-repeat: repeat-y;
    background-color: #006cd7;
}

a {border: none; text-decoration:none;color:#0b9dce; outline: 0}

a:hover {color: #0163C6}

#proctcae-background {
    background: transparent url(../images/blue/wide_header_bg.jpg) no-repeat scroll center center;
    height: 650px;
    left: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}

#login-action {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.workflow-tabs {
    position: relative;
    top: 135px;
    width: 950px;
    background-color: #666;
    z-index: 0;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    background-image: url(../images/blue/thirdlevelnav_grey_gradient.png);
    background-repeat: repeat-x;
    background-position: bottom;
    bottom:10px;
}

.workflow-tabs2 {
    position: relative;
    width: 950px;
    background-color: #666;
    z-index: 0;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    background-image: url(../images/blue/thirdlevelnav_grey_gradient.png);
    background-repeat: repeat-x;
    background-position: bottom;
    top: -15px;
    left: -10px;
}

#thirdlevelnav {
    margin: 5px;
}

#thirdlevelnav div {
    background-image: url(../images/blue/thirdlevelarrow_grey.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}

#thirdlevelnav div a {
    text-decoration: none;
    color: #fff;
}

#thirdlevelnav div a:hover {
    text-decoration: underline
}

#thirdlevelnav div a:active {
    color: #CCCCCC
}

#thirdlevelnav.last div {
    background-image: none;
}

#thirdlevelnav.selected div a {
    color: #333333;
    font-weight: bold;
    background-color: #FFFFCC;
    padding-top: 2px;
    padding-right: 7px;
    padding-bottom: 2px;
    padding-left: 7px;
    background-image: url(../images/blue/taskbar_selected.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

#thirdlevelnavpipe {
    margin: 5px;
}

#thirdlevelnav-x div {
    background-image: url(../images/l.gif);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 20px;
}

#thirdlevelnav-x div a {
    text-decoration: none;
    color: #fff;
}

#thirdlevelnav-x div a:hover {
    text-decoration: underline
}

#thirdlevelnav-x div a:active {
    color: #CCCCCC
}

#thirdlevelnav-x.last div {
    background-image: none;
}

#thirdlevelnav-x.selected div a {
    color: #333333;
    font-weight: bold;
    background-color: #FFFFCC;
    padding-top: 2px;
    padding-right: 7px;
    padding-bottom: 2px;
    padding-left: 7px;
    background-image: url(../images/blue/taskbar_selected.png);
    background-repeat: repeat-x;
    background-position: bottom;
}

.hr {
    
}

a img {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none; /* vertical-align: middle; */
}

.eXtremeTable a img {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    vertical-align: baseline;
}

#all {
    width: 979px;
    margin: 0px auto;
    text-align: left;
    position: relative;
    padding-right: 1px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #00207E;
    font-weight: 600;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.4em;
}

h2 {
    font-size: 1.5em;
}

h3, h4 {
    font-size: 0.9em;
}

p {
    margin: 1em 0;
}

/**** COMMON TEMPLATE ELEMENTS */
/*
#header {
	width: 100%;
	position: absolute;
	height: 100px;
	background-image: url(../images/blue/header_bg.jpg);
	background-position: top;
}
*/

#logo {
    background-image: url(/proctcae/images/blue/PRO-CTCAE-logo.png);
    height: 48px;
    width: 220px;
    /*position: absolute;*/
    text-indent: -9999px;
    margin-top: 20px;
}

/*
a#logo:link {
background-position: 0px
}

a#logo:hover {
background-position: 0px -100px;
}

a#logo:active {
background-position: 0px -200px;
}
*/

a:focus { 
    outline: none; 
}
button:focus { 
    outline: none; 
}

#welcome-user {
    margin-left: 243px;
    margin-top: 20px;
    color: white;
}

.text-sizer {
		height: 26px;
		text-shadow: 0 1px white;
		font-weight: bold;
		font-family: "Lucida Grande", sans-serif;	
		
	}
	.text-sizer ul, .language-toggle ul {list-style-type: none; margin: 0; padding:0;}
	.text-sizer ul li {}
	
	.text-sizer li.left a, .text-sizer li.middle a, .text-sizer li.right a {
		background:url(../images/text-sizer_bg.png) repeat-x top;
		color:#0f6fe0;
		text-decoration:none;
		display:block;
		float: left;
		-moz-box-shadow: 0 1px white inset;
		-webkit-box-shadow: 0 1px white inset;
		box-shadow: 0 1px white inset;
	}
	.text-sizer li.left a:hover, .text-sizer li.middle a:hover, .text-sizer li.right a:hover {
		background-position: 0 -27px;	
	}
	.text-sizer li.left a:active, .text-sizer li.middle a:active, .text-sizer li.right a:active {
		background-position: 0 -52px;	
	}
	
	.text-sizer li.current a {
		background:url(../images/text-sizer_bg.png) repeat-x 0 -52px;
		height: 24px;
		-moz-box-shadow: 0 1px #f3f3f3 inset;
		-webkit-box-shadow: 0 1px #f3f3f3 inset;
		box-shadow: 0 1px #f3f3f3 inset;
	}
	
	.text-sizer li.left a {
		font-size: 10px;
		padding: 6px 12px;
		-moz-border-radius: 8px 0 0 8px;
		-webkit-border-radius: 8px 0 0 8px;
		border-radius: 8px 0 0 8px;
		border: 1px solid lightgray;
		height: 12px;	
	}
	.text-sizer li.middle a {
		font-size: 15px;
		padding:3px 12px;	
		border: 1px solid lightgray;
		border-left: 1px solid white;
		height: 18px;
	}
	.text-sizer li.right a {
		font-size: 20px;
		padding: 0px 12px;	
		border: 1px solid lightgray;
		border-left: 1px solid white;
		-moz-border-radius: 0 8px 8px 0;
		-webkit-border-radius: 0 8px 8px 0;
		border-radius: 0 8px 8px 0;
		height: 24px;
	
	}
	
	
	.language-toggle {
		height: 58px;
		text-shadow: 0 1px white;
		font-size: 13px;
		font-weight: bold;
		font-family: "Lucida Grande", sans-serif;
        float: right;
        width: 175px;
		}
	.language-toggle li a { border: 1px solid lightgray; background: url(../images/language-toggle.png) repeat-x top; float: left; color: #085EB3;text-decoration: none;}
	.language-toggle li a:hover {background-position: 0 -31px; color: #085EB3;border-bottom: 1px solid lightgray}
	.language-toggle li a:active {
		background-position: 0 -62px;
		color:white;
		text-shadow: 0 -1px #00284e;
		
		border:1px solid #003263;
		}
	.language-toggle li.left a {
		padding: 6px 12px;
		-moz-border-radius: 8px 0 0 8px;
		-webkit-border-radius: 8px 0 0 8px;
		border-radius: 8px 0 0 8px;
		-moz-box-shadow: 0 1px white inset;
		-webkit-box-shadow: 0 1px white inset;
		box-shadow: 0 1px white inset;
		}
	.language-toggle li.right a {
		padding: 6px 12px;	
		border-left: 1px solid white;
		-moz-border-radius: 0 8px 8px 0;
		-webkit-border-radius: 0 8px 8px 0;
		border-radius: 0 8px 8px 0;	
		-moz-box-shadow: 0 1px white inset;
		-webkit-box-shadow: 0 1px white inset;
		box-shadow: 0 1px white inset;
		}
		
	.language-toggle li.right a:active {
		border-left: none;
		-moz-box-shadow: 0 0 5px black inset;
		-webkit-box-shadow: 0 0 5px black inset;
		box-shadow: 0 0 5px black inset;
	}
	.language-toggle li.left a:active {
		-moz-box-shadow: 0 0 5px black inset;
		-webkit-box-shadow: 0 0 5px black inset;
		box-shadow: 0 0 5px black inset;
	}
	
	.language-toggle li.current a {
		background-position: 0 -62px;
		color:white;
		text-shadow: 0 -1px #00284e;
		-moz-box-shadow: 0 0 8px black inset;
		-webkit-box-shadow: 0 0 8px black inset;
		box-shadow: 0 0 8px black inset;
		border-color: #003263;
		
		
	}

    .language-toggle1 {
		/*height: 58px;*/
		text-shadow: 0 1px white;
		font-size: 13px;
		font-weight: bold;
		font-family: "Lucida Grande", sans-serif;
        float: right;
        width: 175px;
        margin-right:0px;
		}
	.language-toggle1 a { border: 1px solid lightgray; background: url(../images/language-toggle.png) repeat-x top; float: left; color: #085EB3;text-decoration: none;}
	.language-toggle1 a:hover {background-position: 0 -31px; color: #085EB3;border-bottom: 1px solid lightgray}
	.language-toggle1 a:active {
		background-position: 0 -62px;
		color:white;
		text-shadow: 0 -1px #00284e;

		border:1px solid #003263;
		}
	.language-toggle1 a.left  {
		padding: 6px 12px;
		-moz-border-radius: 8px 0 0 8px;
		-webkit-border-radius: 8px 0 0 8px;
		border-radius: 8px 0 0 8px;
		-moz-box-shadow: 0 1px white inset;
		-webkit-box-shadow: 0 1px white inset;
		box-shadow: 0 1px white inset;
		}
	.language-toggle1 a.right  {
		padding: 6px 12px;
		border-left: 1px solid white;
		-moz-border-radius: 0 8px 8px 0;
		-webkit-border-radius: 0 8px 8px 0;
		border-radius: 0 8px 8px 0;
		-moz-box-shadow: 0 1px white inset;
		-webkit-box-shadow: 0 1px white inset;
		box-shadow: 0 1px white inset;
		}

	.language-toggle1 a.right a:active {
		border-left: none;
		-moz-box-shadow: 0 0 5px black inset;
		-webkit-box-shadow: 0 0 5px black inset;
		box-shadow: 0 0 5px black inset;
	}
	.language-toggle1 a.left a:active {
		-moz-box-shadow: 0 0 5px black inset;
		-webkit-box-shadow: 0 0 5px black inset;
		box-shadow: 0 0 5px black inset;
	}

	.language-toggle1 a.current {
		background-position: 0 -62px;
		color:white;
		text-shadow: 0 -1px #00284e;
		-moz-box-shadow: 0 0 8px black inset;
		-webkit-box-shadow: 0 0 8px black inset;
		box-shadow: 0 0 8px black inset;
		border-color: #003263;


	}

    .top-btns {
	    position: absolute;
	    top: 6px;
	    right: 0px;
	    font-size: 12px;
	    text-shadow: 0 1px #fff;
	    font-weight: bold;
	    margin-right: 15px;
	    z-index:2;
    }

    #logout, #home, #help {
	    height: 24px;
	    width: auto;  
	    line-height: 24px;
	    text-align: right;
	    color: #085EB3;
	    text-decoration: none;
	    float:left; 
	    padding: 0 10px 0 30px;
	    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.7) inset;
	    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.7) inset;
	    box-shadow: 0 1px 0 rgba(255,255,255,0.7) inset;
        border: 1px solid #8dccff;
    }

    #logout {
	  background: url(../images/blue/logout_btn.png) no-repeat 0px -24px;  
	  -moz-border-radius: 0 6px 6px 0;
	  -webkit-border-radius: 0 6px 6px 0;
	  border-radius: 0 6px 6px 0;   
      border-left: 1px solid #e3f5ff; 
    }

    #home {
	    background: url(../images/blue/home_btn.png) no-repeat 0 -24px ;  
	    -moz-border-radius: 6px 0 0 6px;
	    -webkit-border-radius: 6px 0 0 6px;
	    border-radius: 6px 0 0 6px;   
	    border-right: 1px solid #699ac4;
    }

    #help {
	    background: url(../images/blue/help_btn.png) no-repeat 0px -24px;  
	    -moz-border-radius: 6px 0 0 6px;
	    -webkit-border-radius: 6px 0 0 6px;
	    border-radius: 6px 0 0 6px;   
	    border-right: 1px solid #699ac4;
    }

    a#logout:hover, a#home:hover, a#help:hover {
        background-position:0 -48px;
    }

    a#logout:active, a#home:active, a#help:active{
        background-position:0 0;
    }

    #skipnav {
        text-indent: -9999px;
        position: absolute;
    }


/***
The following are the rules for 1st level navigation tabs:
firstlevelnav_listAdverseEventsController: Adverse Events
firstlevelnav_searchStudyController: Studies
3. Subjects
4. Rules
5. Administration
6. Advanced Search

*/

a#firstlevelnav_manageFormController {
    background-image: url(../images/blue/forms_btn.png);
    height: 0px;
    padding: 45px 0px 0px 0px;
    display: block;
    float: left;
    margin-right: 1px;
    width: 148px;
}

a#firstlevelnav_manageFormController:link {
    background-position: 0px 0px;
}

a#firstlevelnav_manageFormController:hover, a#firstlevelnav_manageFormController.fthover {
    background-position: 0px -45px;
}

a#firstlevelnav_manageFormController:active {
    background-position: 0px -90px;
}

.selected a#firstlevelnav_manageFormController {
    background-image: url(../images/blue/forms_btn_selected.png);
}

a#firstlevelnav_searchStudyController {
    background-image: url(../images/blue/studies_btn.png);
    height: 0px;
    padding: 45px 0px 0px 0px;
    width: 148px;
    display: block;
    float: left;
    margin-right: 1px;
    margin-left: 1px;
}

a#firstlevelnav_searchStudyController:link {
    background-position: 0px 0px;
}

a#firstlevelnav_searchStudyController:hover, a#firstlevelnav_searchStudyController.fthover {
    background-position: 0px -45px;
}

a#firstlevelnav_searchStudyController:active {
    background-position: 0px -90px;
}

.selected a#firstlevelnav_searchStudyController {
    background-image: url(../images/blue/studies_btn_selected.png);
}

a#firstlevelnav_searchParticipantController {
    background-image: url(../images/blue/subjects_btn.png);
    height: 0px;
    padding: 45px 0px 0px 0px;
    width: 148px;
    display: block;
    float: left;
    margin-right: 1px;
    margin-left: 1px;
}

a#firstlevelnav_searchParticipantController:link {
    background-position: 0px 0px;
}

a#firstlevelnav_searchParticipantController:hover, a#firstlevelnav_searchParticipantController.fthover {
    background-position: 0px -45px;
}

a#firstlevelnav_searchParticipantController:active {
    background-position: 0px -90px;
}

.selected a#firstlevelnav_searchParticipantController {
    background-image: url(../images/blue/subjects_btn_selected.png);
}

a#firstlevelnav_monitorFormController {
    background-image: url(../images/blue/subjects_btn.png);
    height: 0px;
    padding: 45px 0px 0px 0px;
    width: 148px;
    display: block;
    float: left;
    margin-right: 1px;
    margin-left: 1px;
}

a#firstlevelnav_monitorFormController:link {
    background-position: 0px 0px;
}

a#firstlevelnav_monitorFormController:hover, a#firstlevelnav_monitorFormController.fthover {
    background-position: 0px -45px;
}

a#firstlevelnav_monitorFormController:active {
    background-position: 0px -90px;
}

.selected a#firstlevelnav_monitorFormController {
    background-image: url(../images/blue/subjects_btn_selected.png);
}

a#firstlevelnav_createRuleController {
    background-image: url(../images/blue/rules_btn.png);
    width: 148px;
    height: 0px;
    padding: 45px 0px 0px 0px;
    display: block;
    float: left;
    margin-right: 1px;
    margin-left: 1px;
}

a#firstlevelnav_createRuleController:link {
    background-position: 0px 0px;
}

a#firstlevelnav_createRuleController:hover, a#firstlevelnav_createRuleController.fthover {
    background-position: 0px -45px;
}

a#firstlevelnav_createRuleController:active {
    background-position: 0px -90px;
}

.selected a#firstlevelnav_createRuleController {
    background-image: url(../images/blue/rules_btn_selected.png);
}

a#firstlevelnav_searchClinicalStaffController {
    background-image: url(../images/blue/administration_btn.png);
    width: 148px;
    height: 0px;
    padding: 45px 0px 0px 0px;
    display: block;
    float: left;
    margin-right: 1px;
    margin-left: 1px;
}

a#firstlevelnav_searchClinicalStaffController:link {
    background-position: 0px 0px;
}

a#firstlevelnav_searchClinicalStaffController:hover, a#firstlevelnav_searchClinicalStaffController.fthover {
    background-position: 0px -45px;
}

a#firstlevelnav_searchClinicalStaffController:active {
    background-position: 0px -90px;
}

.selected a#firstlevelnav_searchClinicalStaffController {
    background-image: url(../images/blue/administration_btn_selected.png);
}

a#firstlevelnav_reportSearchCriteriaController {
    background-image: url(../images/blue/reports_btn.png);
    width: 148px;
    height: 0px;
    padding: 45px 0px 0px 0px;
    display: block;
    float: left;
    margin-right: 1px;
    margin-left: 1px;
}

a#firstlevelnav_reportSearchCriteriaController:link {
    background-position: 0px 0px;
}

a#firstlevelnav_reportSearchCriteriaController:hover, a#firstlevelnav_reportSearchCriteriaController.fthover {
    background-position: 0px -45px;
}

a#firstlevelnav_reportSearchCriteriaController:active {
    background-position: 0px -90px;
}

.selected a#firstlevelnav_reportSearchCriteriaController {
    background-image: url(../images/blue/reports_btn_selected.png);
}

a#firstlevelnav_participantCareMonitorController {
    background-image: url(../images/blue/reports_btn.png);
    width: 148px;
    height: 0px;
    padding: 45px 0px 0px 0px;
    display: block;
    float: left;
    margin-right: 1px;
    margin-left: 1px;
}

a#firstlevelnav_participantCareMonitorController:link {
    background-position: 0px 0px;
}

a#firstlevelnav_participantCareMonitorController:hover, a#firstlevelnav_participantCareMonitorController.fthover {
    background-position: 0px -45px;
}

a#firstlevelnav_participantCareMonitorController:active {
    background-position: 0px -90px;
}

.selected a#firstlevelnav_participantCareMonitorController {
    background-image: url(../images/blue/reports_btn_selected.png);
}

#sso-form {
    display: none
}

#build-name {
    color: #666;
    font-size: 85%;
    padding: 3px;
    position: absolute;
    bottom: -190px;
    margin-left: 20px;
}

/**** COMMON TAB STYLES (shared across all three levels) */

ul.tabs {
    margin: 0;
    float: none;
    padding-left: 0;
}

ul.tabs li {
    display: block;
    list-style-type: none;
    float: left;
    padding: 0;
}

/**** SECTION TABS */

#sections {
    position: absolute;
    top: 53px;
    left: 231px;
}

/*
#sections li.selected {
  background-image: url(../images/chrome/section_BG_s.gif);
}



#sections a {
  line-height: 20px;
  display: block;
  text-decoration: none; font-weight: bold;
  color: #333333;
}

#sections a:hover { color: #efe; }
#sections li.selected a:hover { color: #339; }
*/
/**** TASKS */

#taskbar, #floatingTaskbar {
    background: url(../images/blue/taskbar_BG.png) repeat-x top;
    height: 51px;
    width: 970px;
    font-size: 12pt;
    position: absolute;
    top: 98px;
    padding-left: 10px;
    color: #FFFFFF;
    vertical-align: middle;
    z-index: 1;
    left: 0px;
}

#floatingTaskbar {
    background: url(../images/blue/floatingTaskbar_BG.png) repeat-x top;
    color: #494949;

}

#taskbar a.lte4, #floatingTaskbar a.lte4 {
    color: #fff;
    text-decoration: none;
    height: 43px;
    width: 232px;
    float: left;
    padding-top: 8px;
    font-weight: bold;
}

#floatingTaskbar a.lte4 {
    color: #494949;
}

#taskbar a.gt4, #floatingTaskbar a.gt4 {
    color: #FFF;
    text-decoration: none;
    height: 19px;
    width: 232px;
    float: left;
    padding-top: 2px;
    font-weight: bold;
    font-size: 12px;
    text-indent: 10px;
    margin-top: 1px;
    margin-right: 2px;
}

#floatingTaskbar a.gt4 {
    color: #494949;
}

#taskbar a.gt4:hover, #floatingTaskbar a.gt4:hover {
    background-image: url(../images/blue/secondlevelnav_hover_gt4.png);
    background-repeat: no-repeat;
}

#taskbar a.gt4:active, #floatingTaskbar a.gt4:active {
    background-image: url(../images/blue/secondlevelnav_hover_gt4.png);
    background-repeat: no-repeat;
}

#taskbar a.lte4 img, #floatingTaskbar a.lte4 img {
    margin-right: 7px;
    margin-left: 5px;
    vertical-align: middle;
}

#taskbar a:hover {
    color: #fff;
    background-image: url(../images/blue/secondlevelnav_hover.png);
    background-repeat: no-repeat;
}

#floatingTaskbar a:hover {
    background-image: url(../images/blue/ftsecondlevelnav_hover.png);
    background-repeat: no-repeat;
}

#taskbar a:active {
    color: #E4E9F6;
    background-image: url(../images/blue/secondlevelnav_hover.png);
    background-repeat: no-repeat;
}

#floatingTaskbar a:active {
    color: #333;
    background-image: url(../images/blue/ftsecondlevelnav_hover.png);
    background-repeat: no-repeat;
}

#taskbar a.lte4 img.imagegt18, #floatingTaskbar a.lte4 img.imagegt18 {
    float: left;
    margin-top: 6px;
}

#taskbar a.lte4.gt18, #floatingTaskbar a.lte4.gt18 {
    padding-top: 2px;
    display: inline;
}

.spangt18 {
    padding-right: 4px
}

#taskbar a.selected.lte4, #floatingTaskbar a.selected.lte4 {
    background-image: url(../images/blue/secondlevelnav_selected.png);
    background-repeat: no-repeat;
}

#taskbar a.selected.gt4, #floatingTaskbar a.selected.gt4 {
    background-image: url(../images/blue/secondlevelnav_gt4_selected.png);
    background-repeat: no-repeat;
}

/**** PAGE CONTENT BOXES */

#main {
    padding: 15px 10px;
    position: relative;
    top: 140px;
}

#flash-message {
    border: 1px solid #999;
    border-width: 1px 0;
    text-align: center;
    background-color: #ccc;
    margin: 1em auto;
    width: 75%;
    padding: 0.5em;
}

#flash-message.info {
    border-color: #390;
    background-color: #aea;
    position:relative;
    top:20px;
    bottom:2px;
}

#flash-message.error {
    border-color: #930;
    background-color: #ea9;
}

/* A pane is a vertical subdivision of the page.
   Individual panes will need to have their widths specified
   if there's more than one in a page;
   the total should be something less than 100%. */
.pane {
    margin: 0 14px 12px 0;
}

/* Each pane will contain one or more "boxes" */
.box {
    background-color: #fff;
    margin-bottom: 12px;
    background-image: url(../images/blue/box_bg.jpg);
    background-repeat: repeat-x;
    position:relative;
    top:20px;
}

.box .header {
}

.box .header h2 {
    color: #006cd7;
    margin: 0;
    font-size: 22px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    font-weight: normal;
}

.box .header .background-L {
    background: url(../images/blue/box_header_bg_l.jpg) no-repeat top left;
}

.box .header .background-R {
    background: url(../images/blue/box_header_bg_r.jpg) no-repeat top right;
}

.box .border-T {
}

.box .border-L {
    background: url(../images/blue/box_l.png) repeat-y left;
}

.box .border-R {
    background: url(../images/blue/box_r.png) repeat-y right;
}

.box .border-B {
    background: url(../images/blue/box_bottom.png) repeat-x bottom;
}

.box .border-TL {
}

.box .border-TR {
}

.box .border-BL {
    background: url(../images/blue/box_bl.png) no-repeat bottom left;
}

.box .border-BR {
    background: url(../images/blue/box_br.png) no-repeat bottom right;
}

.box .interior {
    margin: 0 8px 0 7px;
    padding: 8px 0;
    min-height: 28px;
}

.box.tabbed .interior {
    padding-top: 0;
}

.box .content {
    padding: 8px;
}

.box h3 {
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 1px;
    padding-left: 8px;
    font-size: 1em;
    color: #2e3257;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}

/**** TABS WITHIN A BOX */

.box ul.inner.tabs {
/* this overspecific selector is necessary for IE */
    background: url(../images/chrome/inner-tab_BG.gif) no-repeat top right;
    padding: 4px 7px 0 0;
    margin: 0 0 0 7px;
    height: 20px;
    font-size: .9em;
}

.box ul.inner.tabs li {
    background: url(../images/chrome/inner-tab_L.gif) no-repeat top left;
}

.box ul.inner.tabs li.selected {
    background-image: url(../images/chrome/inner-tab_L_s.gif);
}

.box ul.inner.tabs li div {
    background: url(../images/chrome/inner-tab_R.gif) no-repeat top right;
    padding: 0 20px;
}

.box ul.inner.tabs li.selected div {
    background-image: url(../images/chrome/inner-tab_R_s.gif);
}

.box ul.inner.tabs a {
    line-height: 20px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #333333;
}

.box ul.inner.tabs a:hover {
    color: #002EE2;
}

/* two boxes with the additional class "paired" are displayed side-by-side */
.box.paired {
    width: 45%;
    margin: 1em;
    float: left;
}

.box.small {
    width: 610px;
    margin-left: 185px;
    display: block;
}

.division {
    clear: both;
}

/**** REUSABLE PAGE ELEMENTS/CLASSES */

.required-indicator {
    color: #a00;
    font-family: arial, serif;
}

#thirdlevelnav .required-indicator {
    color: #f66;
    font-family: arial, serif;
}

.required-for-submit {
    color: #6f6;
    font-family: Arial, serif;
    font-weight: bold;
}

span.phone-number {
    font-style: italic;
}

.error input {
    border-color: #c03;
}

.error .label {
    color: #c03;
}

.errors {
    color: #c03;
}

div.errors {
    color: #c03;
    font-size: 11pt;
    border: 1px solid #c03;
    margin: 40px;
    padding: 0 0em 0.2em 1em;
}

ul.errors {
    color: #c03;
    margin: 0;
    padding: 0 1em 0.2em 1em;
}

ul.errors li {
    margin: 0 0.8em;
    padding: 0;
    list-style-image: url('../images/error.png');
}

/* The delete checkbox which may go in a box's h3s */

div.div-list-controls {
    float: right;
}

a.list-control {
    text-decoration: none;
    color: #222;
    top: 0;
}

a.delete-control {
    font-size: 1.4em;
    font-weight: bold;
    padding: 0 2px;
}

a.min-max-control {
    padding: 0 2px;
}

a.move-up-control {
    font-size: 1.2em;
}

a.move-down-control {
    font-size: 1.2em;
}

a.list-control:hover {
    background-color: #222;
    color: #eee;
}

div.first-item a.move-up-control {
    visibility: hidden;
}

div.last-item a.move-down-control {
    visibility: hidden;
}

span.list-controls {
    padding: 0 4px;
}

/*
	'row' is a class for label: value type rows.  The intent is
	that each row would contain 2-3 subdivs:  a label (float: left), an optional extra
	(float: right), and the value (positioned naturally).
 */
div.row {
    padding-right: 2px;
    padding-left: 2px;
    margin-top: 7px;
    margin-bottom: 7px;
}

/* Automatically clear after each row
   Based on http://www.positioniseverything.net/easyclearing.html */
div.row:after, .autoclear:after {
    display: block;
    content: ' ';
    clear: both;
    height: 0;
    visibility: hidden;
}

div.row div.label {
    font-weight: bold;
    float: left;
    margin-left: 0.1em;
    text-align: right; /* default width; pages might override */
    width: 10em;
}

div.label_nomargin {
    font-weight: bold;
    float: left;
    margin-left: 0.0em;
    text-align: right; /* default width; pages might override */
    width: 7em;
}

div.row div.value_nomargin {
    font-weight: normal; /* default; should be changed whenever .label width is changed */
    text-align: left;
    margin: 0;
    padding: 0;
}

div.row div.value {
    font-weight: normal; /* default; should be changed whenever .label width is changed */
    margin-left: 11em;
    /* In Mac the Help (?) button is wrapping-------Sorry, its causing titles that are too long to go off the page -david
   white-space:nowrap; */
    text-align: left;
}

img.indicator {
    visibility: hidden;
}

/*
  Left and right panels
*/
.rightpanel {
    float: right;
    width: 48%;
    margin: -7px 0;
}

.leftpanel {
    float: left;
    width: 48%;
    margin: -7px 0;
}

/* Form Builder Styles */
#formbuilderTable {
    width: 100%;
}

#formbuilderTable #left {
    vertical-align: top;
    width: 540px;
}

#formbuilderTable #right {
    vertical-align: top;
    padding: 0px;
    position: relative;
    height: 100%;
    width: 406px;
}

#formbuilderTable-TL {
    width: 32px;
    height: 33px;
    background-image: url(/proctcae/images/blue/form_table/TL.png);
    background-repeat: no-repeat;
}

#formbuilderTable-T {
    height: 31px;
    background-image: url(/proctcae/images/blue/form_table/T.png);
    background-repeat: repeat-x;
}

#formbuilderTable-TR {
    width: 30px;
    height: 33px;
    background-image: url(/proctcae/images/blue/form_table/TR.png);
    background-repeat: no-repeat;
}

#formbuilderTable-L {
    width: 32px;
    background-image: url(/proctcae/images/blue/form_table/L.png);
    background-repeat: repeat-y;
}

#formbuilderTable-M {
    vertical-align: top;
    background-color: #e4e9f6;
    position: relative;
}

#formbuilderTable-R {
    width: 30px;
    background-image: url(/proctcae/images/blue/form_table/R.png);
    background-repeat: repeat-y;
}

#formbuilderTable-BL {
    width: 32px;
    height: 32px;
    background-image: url(/proctcae/images/blue/form_table/BL.png);
    background-repeat: no-repeat;
}

#formbuilderTable-B {
    height: 32px;
    background-image: url(/proctcae/images/blue/form_table/B.png);
    background-repeat: repeat-x;
}

#formbuilderTable-BR {
    width: 30px;
    height: 32px;
    background-image: url(/proctcae/images/blue/form_table/BR.png);
    background-repeat: no-repeat;
}

.formbuilderHeader {
    color: #00207E;
    font-size: 30px;
    display: block;
}

.formbuildersubHeader {
    margin-bottom: 15px;
    display: block;
    margin-left: 6px;
    margin-top: 5px;
}

#totalQuestionDivision {
    font-size: 15px;
    font-weight: bold;
}

.sortable {
    padding-top: 5px;
}

.conditional-question {
    padding-left: 30px;
}

#sortable {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    position: relative;
}

/* Formbuilder box styles */
/* plain styles */
.formbuilderBox {
    padding-left: 14px;
    position: relative;
    padding-top: 4px;
    margin-bottom: 10px;
}

.formbuilderboxTable {
    border-collapse: collapse;
    width: 100%;
}

.formbuilderboxTable input {display: none}

.TL {
    width: 12px;
    height: 14px;
    background-image: url(/proctcae/images/blue/formbuilderBox/TL.png);
    background-repeat: no-repeat;
}

.T {
    height: 14px;
    background-image: url(/proctcae/images/blue/formbuilderBox/T.png);
    background-repeat: repeat-x;
}

.TR {
    width: 14px;
    height: 14px;
    background-image: url(/proctcae/images/blue/formbuilderBox/TR.png);
    background-repeat: no-repeat;
}

.L {
    width: 12px;
    background-image: url(/proctcae/images/blue/formbuilderBox/L.png);
    background-repeat: repeat-y;
}

.formbuilderboxContent {
    background-color: #FFF;
    padding-top: 10px;
    padding-bottom: 10px;
}

.R {
    width: 14px;
    background-image: url(/proctcae/images/blue/formbuilderBox/R.png);
    background-repeat: repeat-y;
}

.BL {
    width: 12px;
    height: 14px;
    background-image: url(/proctcae/images/blue/formbuilderBox/BL.png);
    background-repeat: no-repeat;
}

.B {
    height: 14px;
    background-image: url(/proctcae/images/blue/formbuilderBox/B.png);
    background-repeat: repeat-x;
}

.BR {
    width: 14px;
    height: 14px;
    background-image: url(/proctcae/images/blue/formbuilderBox/BR.png);
    background-repeat: no-repeat;
}

.formbuilderboxTable ul {
    margin: 0px;
}

/* editing styles */
.editing .TL {
    width: 12px;
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/TL.png);
    background-repeat: no-repeat;
}

.editing .T {
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/T.png);
    background-repeat: repeat-x;
}

.editing .TR {
    width: 14px;
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/TR.png);
    background-repeat: no-repeat;
}

.editing .L {
    width: 12px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/L.png);
    background-repeat: repeat-y;
}

.editing .formbuilderboxContent {
    background-color: #4d6eff;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.editing .R {
    width: 14px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/R.png);
    background-repeat: repeat-y;
}

.editing .BL {
    width: 12px;
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/BL.png);
    background-repeat: no-repeat;
}

.editing .B {
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/B.png);
    background-repeat: repeat-x;
}

.editing .BR {
    width: 14px;
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/BR.png);
    background-repeat: no-repeat;
}

/* conditional styles */
.conditional-question .TL {
    width: 12px;
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/conditional/TL.png);
    background-repeat: no-repeat;
}

.conditional-question .T {
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/conditional/T.png);
    background-repeat: repeat-x;
}

.conditional-question .TR {
    width: 14px;
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/conditional/TR.png);
    background-repeat: no-repeat;
}

.conditional-question .L {
    width: 12px;
    background-image: url(/proctcae/images/blue/formbuilderBox/conditional/L.png);
    background-repeat: repeat-y;
}

.conditional-question .formbuilderboxContent {
    background-color: #d0f3c2;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}

.conditional-question .R {
    width: 14px;
    background-image: url(/proctcae/images/blue/formbuilderBox/conditional/R.png);
    background-repeat: repeat-y;
}

.conditional-question .BL {
    width: 12px;
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/conditional/BL.png);
    background-repeat: no-repeat;
}

.conditional-question .B {
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/conditional/B.png);
    background-repeat: repeat-x;
}

.conditional-question .BR {
    width: 14px;
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/conditional/BR.png);
    background-repeat: no-repeat;
}

/* editing a conditonal question styles */
.editing.conditional-question .TL {
    width: 12px;
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/TL.png);
    background-repeat: no-repeat;
}

.editing.conditional-question .T {
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/T.png);
    background-repeat: repeat-x;
}

.editing.conditional-question .TR {
    width: 14px;
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/TR.png);
    background-repeat: no-repeat;
}

.editing.conditional-question .L {
    width: 12px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/L.png);
    background-repeat: repeat-y;
}

.editing.conditional-question .formbuilderboxContent {
    background-color: #4d6eff;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.editing.conditional-question .R {
    width: 14px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/R.png);
    background-repeat: repeat-y;
}

.editing.conditional-question .BL {
    width: 12px;
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/BL.png);
    background-repeat: no-repeat;
}

.editing.conditional-question .B {
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/B.png);
    background-repeat: repeat-x;
}

.editing.conditional-question .BR {
    width: 14px;
    height: 15px;
    background-image: url(/proctcae/images/blue/formbuilderBox/selected/BR.png);
    background-repeat: no-repeat;
}

/*
  Styles for Table Data
*/
table.tablecontent {
    border-collapse: collapse;
}

.tablecontent td, .tablecontent th {
    padding: 0.2em;
}

.tablecontent .tableHeader th, .tablecontent .even td, .tablecontent .odd td {
    text-align: left;
}

.tablecontent th {
    text-align: left;
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4
}

.tablecontent td {
    border: 1px solid #ccc;
}

.tablecontent .highlight td {
    background-color: #F5F5F5;
}

a.help {
    display: block;
    float: right;
    color: #fff;
}

a.help img {
    border: none;
}

.dueOn {
    color: #cc0033;
    text-align: center;
}

.submittedOn {
    color: #009900;
    text-align: center;
}

.leftpane {
    float: left;
    padding: 5px;
}

.endpanes {
    clear: both;
}

.instructions {
    padding-right: 2px;
    padding-left: 2px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.instructions .summarylabel {
    float: left;
    font-weight: bold;
    margin-left: 5px;
    text-align: right;
    margin-right: 7px;
    width: 88px;
}

.instructions .summaryvalue {
    font-weight: normal;
    margin-left: 98px;
    text-align: left;
}

#table231 {
    background-color: #fff
}

/* suppress Routine AE search button */
#secondlevelnav_routineReportController {
    visibility: hidden;
}

#hiddenDiv {
    width: 320px;
}

#sortable .formbuilderBoxControls {
    position: absolute;
    top: 9px;
    right: 20px;
}

/*
these 3 rules define form builder controls styles
*/
.formbuilderBoxControls {
    position: absolute;
    top: 8px;
    right: 20px;
}

.formbuilderBoxControls-left {
    float: left;
    background-image: url(/proctcae/images/blue/formbuilderBoxControls-L.png);
    height: 18px;
    padding-left: 6px;
}

.formbuilderBoxControls-right {
    float: left;
    background-image: url(/proctcae/images/blue/formbuilderBoxControls-R.png);
    height: 18px;
    width: 6px;
}

/*
these next 3 rules are the same as the previous 3, but need to be more specifically defined to hit the form builder tree
*/
ul.tree ul ul li table div.formbuilderBoxControls {
    position: absolute;
    top: 7px;
    right: 20px;
}

ul.tree ul ul li table div.formbuilderBoxControls-left {
    float: left;
    background-image: url(/proctcae/images/blue/formbuilderBoxControls-L.png);
    height: 18px;
    padding-left: 6px;
}

ul.tree ul ul li table div.formbuilderBoxControls-right {
    float: left;
    background-image: url(/proctcae/images/blue/formbuilderBoxControls-R.png);
    height: 18px;
    width: 6px;
}

.sortableSpan {
    float: left;
    height: 100%;
    font-size: 15pt;
    margin-right: 10px;
    vertical-align: middle;
    display: block;
}

#crfTitle {
    padding-left: 4px;
    padding-top: 3px;
    width: 90%;
}

#crfTitle-inplaceeditor {
    display: block;
    height: 41px;
}

#crfTitle-inplaceeditor input {
    font-size: 30px;
    size: 20;
    color: #00207E;
}

#reviewLink {
    position: absolute;
    top: 12px;
    right: 134px;
    background-image: url(/proctcae/images/blue/preview_btn.png);
    height: 0px;
    overflow: hidden;
    width: 116px;
    display: block;
    padding: 40px 0 0 0;
}

#noForm {
    margin-left: 25px;
}

.formbuilderboxContent td {
	display: table-cell;
	
	}

.formbuilderboxContent .label {
	
	margin: 0 10px 0 0;
	}
	
.formbuilderboxTable .norm {
	display: table-cell;

	}
	
.formbuilderboxTable td .norm .label, .formbuilderboxTable td .over .label, .formbuilderboxTable td .selected .label{
	font-size: 17px;
	line-height: 17px;
	padding-top: 3px;
	padding-bottom: 3px;
}

formbuilderboxTable td .selected .label{
	line-height: 17px;
	width: 96px;
	}


/* .norm .label {
    background: url(/proctcae/images/lightgray.png) repeat-x ;
    cursor: default;
    text-shadow: 0 1px white;
    border: 1px solid #d6d6d6;
    vertical-align: middle;
    display: table-cell;
    padding: 0px 15px;
    text-align: center;
    line-height: 17px;
    height: 47px;
    max-height: 47px;
    width: 130px;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 1px white inset;
	-webkit-box-shadow: 0 1px 1px white inset;
	box-shadow: 0 1px 1px white inset;
    }
.over .label {
    background: url(/proctcae/images/lightblue.png) repeat-x ;
    cursor: pointer;
    color: #025468;
    text-shadow: 0 1px white;
    border: 1px solid #90cbd9;
    vertical-align: middle;
    display: table-cell;
    padding: 0px 15px;
    text-align: center;
    width: 130px;
    line-height: 17px;
    height: 47px;
    max-height: 47px;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 1px white inset;
	-webkit-box-shadow: 0 1px 1px white inset;
	box-shadow: 0 1px 1px white inset;
    font-size: 19px;
}     
    
    
 */
.norm .label {
    background:#d6d6d6 url(/proctcae/images/lightgray.png) repeat-x ;
    cursor: default;
    text-shadow: 0 1px white;
    border: 1px solid #d6d6d6;
    vertical-align: middle;
    display: table-cell;
    padding: 0px 10px;
    text-align: center;
    line-height: 17px;
    height: 47px;
    max-height: 47px;
    width: 98px;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 1px white inset;
	-webkit-box-shadow: 0 1px 1px white inset;
	box-shadow: 0 1px 1px white inset;
    
}

.over .label {
    background:#90cbd9 url(/proctcae/images/lightblue.png) repeat-x ;
    cursor: pointer;
    color: #025468;
    text-shadow: 0 1px white;
    border: 1px solid #90cbd9;
    vertical-align: middle;
    display: table-cell;
    padding: 0px 10px;
    text-align: center;
    width: 98px;
    line-height: 17px;
    height: 47px;
    max-height: 47px;
    -moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 1px white inset;
	-webkit-box-shadow: 0 1px 1px white inset;
	box-shadow: 0 1px 1px white inset;
    font-size: 19px;
} 


.selected .label  {
	padding: 0 5px 0 20px;
}

.addall {
    position: relative;
    width: 104px;
    height: 20px;
    background-image: url(/proctcae/images/blue/add_all_btn.png);
    background-repeat: no-repeat;
}

.formpages {
    border: 1px solid #CCCCCC;
    margin: 10px;
    padding: 16px 5px 5px; /* background-color:#cdd4f7; */
    position: relative;
    background-image: url(/proctcae/images/blue/crumpled-paper.png);
}

.formpagesselected {
/* background-color: #edc0ac; */
    border-left: 2px solid #4D6EFF;
    border-right: 2px solid #4D6EFF;
    border-bottom: 2px solid #4D6EFF;
}

.formpageheader {
    width: 100%;
    background-image: url(/proctcae/images/blue/page-border-top.png);
    background-repeat: repeat-x;
    height: 24px;
    display: block;
    z-index: 0;
    position: absolute;
    top: 0;
    right: 0;
}

.formpagesselected .formpageheader {
    width: 101%;
    background-image: url(/proctcae/images/blue/pageselected-border-top.png);
    background-repeat: repeat-x;
    height: 36px;
    display: block;
    z-index: 0;
    position: absolute;
    top: 0;
    left: -2px;
}

.formpageheader .formbuilderBoxControls {
    position: absolute;
    top: 0px;
    right: 5px;
}

#shrinkQuestionBankUrl {
    width: 100%;
    height: 22px;
    background-image: url(/proctcae/images/blue/formbuilder_min-max_bg.png);
    display: block;
    border-left: 1px solid #cfcfcf;
}

#shrinkFormUrl {
    width: 100%;
    height: 22px;
    background-image: url(/proctcae/images/blue/formbuilder_min-max_bg.png);
    display: block;
    border-right: 1px solid #cfcfcf;
    margin-top: 1px;
    margin-bottom: 11px;
}

#expandFormUrl {
    float: right;
}

.crfPageTitle {
    font-size: 11px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    color: grey;
    font-style: italic;
}

.inplaceeditor-form input[type="text"] {
    font-size: 17px;
    margin-left: 5px;
    margin-top: 3px;
    position: absolute;
}

.formpagesselected .crfPageTitle {
    font-size: 17px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    color: white;
}

.progress-bar-outer {
    border-style: solid;
    width: 150px;
    border-color: #ccc;
    border-width: 1px;
    height: 15px;
    float: right;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background-image: url(/proctcae/images/blue/progress-bar_bg.png);
    background-repeat: repeat-x;
    -moz-box-shadow: 0 1px 4px #ccc inset;
    -webkit-box-shadow: 0 1px 4px #ccc inset ;
    box-shadow: 0 1px 4px #ccc inset;
    margin-right:10px;
}

.progress-bar-inner {
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 0 1px 1px #d1ebff inset;
    -webkit-box-shadow: 0 1px 1px #d1ebff inset ;
    box-shadow: 0 1px 1px #d1ebff inset;
    background-color: #0066cc;
    background-image: url(/proctcae/images/blue/progress-bar.png);
    background-repeat: repeat-x;
    width: ${(command.currentPageIndex/command.totalPages)*150} px;
    height: 15px;
    
}

#ajaxLoadingImgDiv
{
    display: none;
    width:300px;
    height: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    background:url(/proctcae/images/big-rotating-SB-logo.gif) no-repeat center;
    text-align:center;
    padding:10px;
    font:normal 16px Tahoma, Geneva, sans-serif;
    border:none;
    margin-left: -160px;
    margin-top: -160px;
    z-index:2;
    overflow: auto;
}
